<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.system.dao.NsCoreResourcebuttonMapper">

	<resultMap id="NsCoreResourcebuttonResultMap" type="com.newsee.system.entity.NsCoreResourcebutton">
			<id property="id" column="ID" jdbcType="BIGINT"/>
			<result property="enterpriseId" column="ENTERPRISE_ID" jdbcType="BIGINT"/>
			<result property="organizationId" column="ORGANIZATION_ID" jdbcType="BIGINT"/>
			<result property="jeCoreResourcebuttonId" column="JE_CORE_RESOURCEBUTTON_ID" jdbcType="VARCHAR"/>
			<result property="resourcebuttonFuncinfoId" column="RESOURCEBUTTON_FUNCINFO_ID" jdbcType="VARCHAR"/>
			<result property="resourcebuttonBigiconcls" column="RESOURCEBUTTON_BIGICONCLS" jdbcType="VARCHAR"/>
			<result property="resourcebuttonCode" column="RESOURCEBUTTON_CODE" jdbcType="VARCHAR"/>
			<result property="resourcebuttonConfiginfo" column="RESOURCEBUTTON_CONFIGINFO" jdbcType="LONGVARCHAR"/>
			<result property="resourcebuttonDisabled" column="RESOURCEBUTTON_DISABLED" jdbcType="VARCHAR"/>
			<result property="resourcebuttonFireevent" column="RESOURCEBUTTON_FIREEVENT" jdbcType="VARCHAR"/>
			<result property="resourcebuttonFormbind" column="RESOURCEBUTTON_FORMBIND" jdbcType="VARCHAR"/>
			<result property="resourcebuttonHidden" column="RESOURCEBUTTON_HIDDEN" jdbcType="VARCHAR"/>
			<result property="resourcebuttonIconcls" column="RESOURCEBUTTON_ICONCLS" jdbcType="VARCHAR"/>
			<result property="resourcebuttonInterpreter" column="RESOURCEBUTTON_INTERPRETER" jdbcType="LONGVARCHAR"/>
			<result property="resourcebuttonJslistener" column="RESOURCEBUTTON_JSLISTENER" jdbcType="LONGVARCHAR"/>
			<result property="resourcebuttonMsg" column="RESOURCEBUTTON_MSG" jdbcType="VARCHAR"/>
			<result property="resourcebuttonName" column="RESOURCEBUTTON_NAME" jdbcType="VARCHAR"/>
			<result property="resourcebuttonNameEn" column="RESOURCEBUTTON_NAME_EN" jdbcType="VARCHAR"/>
			<result property="resourcebuttonNewfuncid" column="RESOURCEBUTTON_NEWFUNCID" jdbcType="VARCHAR"/>
			<result property="resourcebuttonNoreadonly" column="RESOURCEBUTTON_NOREADONLY" jdbcType="VARCHAR"/>
			<result property="resourcebuttonSysmode" column="RESOURCEBUTTON_SYSMODE" jdbcType="VARCHAR"/>
			<result property="resourcebuttonType" column="RESOURCEBUTTON_TYPE" jdbcType="VARCHAR"/>
			<result property="resourcebuttonWfendedenable" column="RESOURCEBUTTON_WFENDEDENABLE" jdbcType="VARCHAR"/>
			<result property="resourcebuttonXtype" column="RESOURCEBUTTON_XTYPE" jdbcType="VARCHAR"/>
			<result property="syAudflag" column="SY_AUDFLAG" jdbcType="VARCHAR"/>
			<result property="syCreateorg" column="SY_CREATEORG" jdbcType="VARCHAR"/>
			<result property="syCreateorgname" column="SY_CREATEORGNAME" jdbcType="VARCHAR"/>
			<result property="syCreatetime" column="SY_CREATETIME" jdbcType="VARCHAR"/>
			<result property="syCreateuser" column="SY_CREATEUSER" jdbcType="VARCHAR"/>
			<result property="syCreateusername" column="SY_CREATEUSERNAME" jdbcType="VARCHAR"/>
			<result property="syFlag" column="SY_FLAG" jdbcType="VARCHAR"/>
			<result property="syFormuploadfiles" column="SY_FORMUPLOADFILES" jdbcType="VARCHAR"/>
			<result property="syModifyorg" column="SY_MODIFYORG" jdbcType="VARCHAR"/>
			<result property="syModifyorgname" column="SY_MODIFYORGNAME" jdbcType="VARCHAR"/>
			<result property="syModifytime" column="SY_MODIFYTIME" jdbcType="VARCHAR"/>
			<result property="syModifyuser" column="SY_MODIFYUSER" jdbcType="VARCHAR"/>
			<result property="syModifyusername" column="SY_MODIFYUSERNAME" jdbcType="VARCHAR"/>
			<result property="syOrderindex" column="SY_ORDERINDEX" jdbcType="INTEGER"/>
			<result property="syPdid" column="SY_PDID" jdbcType="VARCHAR"/>
			<result property="syPiid" column="SY_PIID" jdbcType="VARCHAR"/>
			<result property="syPyjz" column="SY_PYJZ" jdbcType="VARCHAR"/>
			<result property="syPyqc" column="SY_PYQC" jdbcType="VARCHAR"/>
			<result property="syStatus" column="SY_STATUS" jdbcType="VARCHAR"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="NsCoreResourcebutton_Column_List">
		ID,ENTERPRISE_ID,ORGANIZATION_ID,JE_CORE_RESOURCEBUTTON_ID,RESOURCEBUTTON_FUNCINFO_ID,RESOURCEBUTTON_BIGICONCLS,RESOURCEBUTTON_CODE,RESOURCEBUTTON_CONFIGINFO,RESOURCEBUTTON_DISABLED,RESOURCEBUTTON_FIREEVENT,RESOURCEBUTTON_FORMBIND,RESOURCEBUTTON_HIDDEN,RESOURCEBUTTON_ICONCLS,RESOURCEBUTTON_INTERPRETER,RESOURCEBUTTON_JSLISTENER,RESOURCEBUTTON_MSG,RESOURCEBUTTON_NAME,RESOURCEBUTTON_NAME_EN,RESOURCEBUTTON_NEWFUNCID,RESOURCEBUTTON_NOREADONLY,RESOURCEBUTTON_SYSMODE,RESOURCEBUTTON_TYPE,RESOURCEBUTTON_WFENDEDENABLE,RESOURCEBUTTON_XTYPE,SY_AUDFLAG,SY_CREATEORG,SY_CREATEORGNAME,SY_CREATETIME,SY_CREATEUSER,SY_CREATEUSERNAME,SY_FLAG,SY_FORMUPLOADFILES,SY_MODIFYORG,SY_MODIFYORGNAME,SY_MODIFYTIME,SY_MODIFYUSER,SY_MODIFYUSERNAME,SY_ORDERINDEX,SY_PDID,SY_PIID,SY_PYJZ,SY_PYQC,SY_STATUS
	</sql>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="NsCoreResourcebuttonResultMap">
		select
			<include refid="NsCoreResourcebutton_Column_List" />
		from
			ns_core_resourcebutton
		where
			ID = #{id}
	</select>
	
	<select id="selectByFunctionId" parameterType="java.lang.String" resultMap="NsCoreResourcebuttonResultMap">
        select
            <include refid="NsCoreResourcebutton_Column_List" />
        from
            ns_core_resourcebutton
        where
            RESOURCEBUTTON_FUNCINFO_ID = #{id}
        order by SY_ORDERINDEX ASC
    </select>
    
    <select id="selectByButtonIds" parameterType="java.util.Map" resultMap="NsCoreResourcebuttonResultMap">
        select
            <include refid="NsCoreResourcebutton_Column_List" />
        from
            ns_core_resourcebutton
        where
            1=1
         
            <if test="enterpriseId != null">
                and ENTERPRISE_ID = #{enterpriseId}
            </if>
          
            <if test="organizationId != null">
                and ORGANIZATION_ID = #{organizationId}
            </if>
         and
            JE_CORE_RESOURCEBUTTON_ID  
        in
            <foreach item="item" collection="buttonIds" open="(" separator="," close=")">  
                #{item}  
            </foreach> 
         order by SY_ORDERINDEX ASC
    </select>
    
    <select id="selectByOrgId" parameterType="java.util.Map" resultMap="NsCoreResourcebuttonResultMap">
        select
            <include refid="NsCoreResourcebutton_Column_List" />
        from
            ns_core_resourcebutton
        where
            1=1
         
            <if test="enterpriseId != null">
                and ENTERPRISE_ID = #{enterpriseId}
            </if>
          
            <if test="organizationId != null">
                and ORGANIZATION_ID = #{organizationId}
            </if>
         order by SY_ORDERINDEX ASC
    </select>
    
    <select id="selectByOrgIdAndButtonId" parameterType="com.newsee.system.entity.NsCoreResourcebutton" resultMap="NsCoreResourcebuttonResultMap">
        select
            <include refid="NsCoreResourcebutton_Column_List" />
        from
            ns_core_resourcebutton
        where
			ENTERPRISE_ID = #{enterpriseId}
		and	ORGANIZATION_ID = #{organizationId}
		and	JE_CORE_RESOURCEBUTTON_ID = #{jeCoreResourcebuttonId}
    </select>
	
	<update id="updateById" parameterType="com.newsee.system.entity.NsCoreResourcebutton">
		update ns_core_resourcebutton
		<set>
			<if test="enterpriseId != null">
			  ENTERPRISE_ID = #{enterpriseId },
			</if>
			<if test="organizationId != null">
			  ORGANIZATION_ID = #{organizationId },
			</if>
			<if test="jeCoreResourcebuttonId != null">
			  JE_CORE_RESOURCEBUTTON_ID = #{jeCoreResourcebuttonId },
			</if>
			<if test="resourcebuttonFuncinfoId != null">
			  RESOURCEBUTTON_FUNCINFO_ID = #{resourcebuttonFuncinfoId },
			</if>
			<if test="resourcebuttonBigiconcls != null">
			  RESOURCEBUTTON_BIGICONCLS = #{resourcebuttonBigiconcls },
			</if>
			<if test="resourcebuttonCode != null">
			  RESOURCEBUTTON_CODE = #{resourcebuttonCode },
			</if>
			<if test="resourcebuttonConfiginfo != null">
			  RESOURCEBUTTON_CONFIGINFO = #{resourcebuttonConfiginfo },
			</if>
			<if test="resourcebuttonDisabled != null">
			  RESOURCEBUTTON_DISABLED = #{resourcebuttonDisabled },
			</if>
			<if test="resourcebuttonFireevent != null">
			  RESOURCEBUTTON_FIREEVENT = #{resourcebuttonFireevent },
			</if>
			<if test="resourcebuttonFormbind != null">
			  RESOURCEBUTTON_FORMBIND = #{resourcebuttonFormbind },
			</if>
			<if test="resourcebuttonHidden != null">
			  RESOURCEBUTTON_HIDDEN = #{resourcebuttonHidden },
			</if>
			<if test="resourcebuttonIconcls != null">
			  RESOURCEBUTTON_ICONCLS = #{resourcebuttonIconcls },
			</if>
			<if test="resourcebuttonInterpreter != null">
			  RESOURCEBUTTON_INTERPRETER = #{resourcebuttonInterpreter },
			</if>
			<if test="resourcebuttonJslistener != null">
			  RESOURCEBUTTON_JSLISTENER = #{resourcebuttonJslistener },
			</if>
			<if test="resourcebuttonMsg != null">
			  RESOURCEBUTTON_MSG = #{resourcebuttonMsg },
			</if>
			<if test="resourcebuttonName != null">
			  RESOURCEBUTTON_NAME = #{resourcebuttonName },
			</if>
			<if test="resourcebuttonNameEn != null">
			  RESOURCEBUTTON_NAME_EN = #{resourcebuttonNameEn },
			</if>
			<if test="resourcebuttonNewfuncid != null">
			  RESOURCEBUTTON_NEWFUNCID = #{resourcebuttonNewfuncid },
			</if>
			<if test="resourcebuttonNoreadonly != null">
			  RESOURCEBUTTON_NOREADONLY = #{resourcebuttonNoreadonly },
			</if>
			<if test="resourcebuttonSysmode != null">
			  RESOURCEBUTTON_SYSMODE = #{resourcebuttonSysmode },
			</if>
			<if test="resourcebuttonType != null">
			  RESOURCEBUTTON_TYPE = #{resourcebuttonType },
			</if>
			<if test="resourcebuttonWfendedenable != null">
			  RESOURCEBUTTON_WFENDEDENABLE = #{resourcebuttonWfendedenable },
			</if>
			<if test="resourcebuttonXtype != null">
			  RESOURCEBUTTON_XTYPE = #{resourcebuttonXtype },
			</if>
			<if test="syAudflag != null">
			  SY_AUDFLAG = #{syAudflag },
			</if>
			<if test="syCreateorg != null">
			  SY_CREATEORG = #{syCreateorg },
			</if>
			<if test="syCreateorgname != null">
			  SY_CREATEORGNAME = #{syCreateorgname },
			</if>
			<if test="syCreatetime != null">
			  SY_CREATETIME = #{syCreatetime },
			</if>
			<if test="syCreateuser != null">
			  SY_CREATEUSER = #{syCreateuser },
			</if>
			<if test="syCreateusername != null">
			  SY_CREATEUSERNAME = #{syCreateusername },
			</if>
			<if test="syFlag != null">
			  SY_FLAG = #{syFlag },
			</if>
			<if test="syFormuploadfiles != null">
			  SY_FORMUPLOADFILES = #{syFormuploadfiles },
			</if>
			<if test="syModifyorg != null">
			  SY_MODIFYORG = #{syModifyorg },
			</if>
			<if test="syModifyorgname != null">
			  SY_MODIFYORGNAME = #{syModifyorgname },
			</if>
			<if test="syModifytime != null">
			  SY_MODIFYTIME = #{syModifytime },
			</if>
			<if test="syModifyuser != null">
			  SY_MODIFYUSER = #{syModifyuser },
			</if>
			<if test="syModifyusername != null">
			  SY_MODIFYUSERNAME = #{syModifyusername },
			</if>
			<if test="syOrderindex != null">
			  SY_ORDERINDEX = #{syOrderindex, jdbcType=INTEGER },
			</if>
			<if test="syPdid != null">
			  SY_PDID = #{syPdid },
			</if>
			<if test="syPiid != null">
			  SY_PIID = #{syPiid },
			</if>
			<if test="syPyjz != null">
			  SY_PYJZ = #{syPyjz },
			</if>
			<if test="syPyqc != null">
			  SY_PYQC = #{syPyqc },
			</if>
			<if test="syStatus != null">
			  SY_STATUS = #{syStatus },
			</if>
		</set>
		where
			ID = #{id}
	</update>
	
	<update id="updateByOrgIdAndButtonId" parameterType="com.newsee.system.entity.NsCoreResourcebutton">
		update ns_core_resourcebutton
		<set>
			<if test="resourcebuttonFuncinfoId != null">
			  RESOURCEBUTTON_FUNCINFO_ID = #{resourcebuttonFuncinfoId },
			</if>
			<if test="resourcebuttonBigiconcls != null">
			  RESOURCEBUTTON_BIGICONCLS = #{resourcebuttonBigiconcls },
			</if>
			<if test="resourcebuttonCode != null">
			  RESOURCEBUTTON_CODE = #{resourcebuttonCode },
			</if>
			<if test="resourcebuttonConfiginfo != null">
			  RESOURCEBUTTON_CONFIGINFO = #{resourcebuttonConfiginfo },
			</if>
			<if test="resourcebuttonDisabled != null">
			  RESOURCEBUTTON_DISABLED = #{resourcebuttonDisabled },
			</if>
			<if test="resourcebuttonFireevent != null">
			  RESOURCEBUTTON_FIREEVENT = #{resourcebuttonFireevent },
			</if>
			<if test="resourcebuttonFormbind != null">
			  RESOURCEBUTTON_FORMBIND = #{resourcebuttonFormbind },
			</if>
			<if test="resourcebuttonHidden != null">
			  RESOURCEBUTTON_HIDDEN = #{resourcebuttonHidden },
			</if>
			<if test="resourcebuttonIconcls != null">
			  RESOURCEBUTTON_ICONCLS = #{resourcebuttonIconcls },
			</if>
			<if test="resourcebuttonInterpreter != null">
			  RESOURCEBUTTON_INTERPRETER = #{resourcebuttonInterpreter },
			</if>
			<if test="resourcebuttonJslistener != null">
			  RESOURCEBUTTON_JSLISTENER = #{resourcebuttonJslistener },
			</if>
			<if test="resourcebuttonMsg != null">
			  RESOURCEBUTTON_MSG = #{resourcebuttonMsg },
			</if>
			<if test="resourcebuttonName != null">
			  RESOURCEBUTTON_NAME = #{resourcebuttonName },
			</if>
			<if test="resourcebuttonNameEn != null">
			  RESOURCEBUTTON_NAME_EN = #{resourcebuttonNameEn },
			</if>
			<if test="resourcebuttonNewfuncid != null">
			  RESOURCEBUTTON_NEWFUNCID = #{resourcebuttonNewfuncid },
			</if>
			<if test="resourcebuttonNoreadonly != null">
			  RESOURCEBUTTON_NOREADONLY = #{resourcebuttonNoreadonly },
			</if>
			<if test="resourcebuttonSysmode != null">
			  RESOURCEBUTTON_SYSMODE = #{resourcebuttonSysmode },
			</if>
			<if test="resourcebuttonType != null">
			  RESOURCEBUTTON_TYPE = #{resourcebuttonType },
			</if>
			<if test="resourcebuttonWfendedenable != null">
			  RESOURCEBUTTON_WFENDEDENABLE = #{resourcebuttonWfendedenable },
			</if>
			<if test="resourcebuttonXtype != null">
			  RESOURCEBUTTON_XTYPE = #{resourcebuttonXtype },
			</if>
			<if test="syAudflag != null">
			  SY_AUDFLAG = #{syAudflag },
			</if>
			<if test="syCreateorg != null">
			  SY_CREATEORG = #{syCreateorg },
			</if>
			<if test="syCreateorgname != null">
			  SY_CREATEORGNAME = #{syCreateorgname },
			</if>
			<if test="syCreatetime != null">
			  SY_CREATETIME = #{syCreatetime },
			</if>
			<if test="syCreateuser != null">
			  SY_CREATEUSER = #{syCreateuser },
			</if>
			<if test="syCreateusername != null">
			  SY_CREATEUSERNAME = #{syCreateusername },
			</if>
			<if test="syFlag != null">
			  SY_FLAG = #{syFlag },
			</if>
			<if test="syFormuploadfiles != null">
			  SY_FORMUPLOADFILES = #{syFormuploadfiles },
			</if>
			<if test="syModifyorg != null">
			  SY_MODIFYORG = #{syModifyorg },
			</if>
			<if test="syModifyorgname != null">
			  SY_MODIFYORGNAME = #{syModifyorgname },
			</if>
			<if test="syModifytime != null">
			  SY_MODIFYTIME = #{syModifytime },
			</if>
			<if test="syModifyuser != null">
			  SY_MODIFYUSER = #{syModifyuser },
			</if>
			<if test="syModifyusername != null">
			  SY_MODIFYUSERNAME = #{syModifyusername },
			</if>
			<if test="syOrderindex != null">
			  SY_ORDERINDEX = #{syOrderindex, jdbcType=INTEGER },
			</if>
			<if test="syPdid != null">
			  SY_PDID = #{syPdid },
			</if>
			<if test="syPiid != null">
			  SY_PIID = #{syPiid },
			</if>
			<if test="syPyjz != null">
			  SY_PYJZ = #{syPyjz },
			</if>
			<if test="syPyqc != null">
			  SY_PYQC = #{syPyqc },
			</if>
			<if test="syStatus != null">
			  SY_STATUS = #{syStatus },
			</if>
		</set>
		where
			ENTERPRISE_ID = #{enterpriseId}
		and	ORGANIZATION_ID = #{organizationId}
		and	JE_CORE_RESOURCEBUTTON_ID = #{jeCoreResourcebuttonId}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from ns_core_resourcebutton 
		where
			ID = #{id}
	</delete>
	
	<delete id="deleteByOrgId" parameterType="com.newsee.system.entity.NsCoreResourcebutton">
		delete from ns_core_resourcebutton 
		where
			ENTERPRISE_ID = #{enterpriseId}
		and	ORGANIZATION_ID = #{organizationId}
	</delete>
	
	<update id="deleteSoftById" parameterType="java.lang.Long">
		update set ns_core_resourcebutton
		del_status = 1,
		update_user_id = #{ updateUserId },
		update_time = #{updateTime, jdbcType=TIMESTAMP }
		where
			ID = #{id}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.newsee.system.entity.NsCoreResourcebutton">
		insert into ns_core_resourcebutton
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				ENTERPRISE_ID,
			</if>
			<if test="organizationId != null">
				ORGANIZATION_ID,
			</if>
			<if test="jeCoreResourcebuttonId != null">
				JE_CORE_RESOURCEBUTTON_ID,
			</if>
			<if test="resourcebuttonFuncinfoId != null">
				RESOURCEBUTTON_FUNCINFO_ID,
			</if>
			<if test="resourcebuttonBigiconcls != null">
				RESOURCEBUTTON_BIGICONCLS,
			</if>
			<if test="resourcebuttonCode != null">
				RESOURCEBUTTON_CODE,
			</if>
			<if test="resourcebuttonConfiginfo != null">
				RESOURCEBUTTON_CONFIGINFO,
			</if>
			<if test="resourcebuttonDisabled != null">
				RESOURCEBUTTON_DISABLED,
			</if>
			<if test="resourcebuttonFireevent != null">
				RESOURCEBUTTON_FIREEVENT,
			</if>
			<if test="resourcebuttonFormbind != null">
				RESOURCEBUTTON_FORMBIND,
			</if>
			<if test="resourcebuttonHidden != null">
				RESOURCEBUTTON_HIDDEN,
			</if>
			<if test="resourcebuttonIconcls != null">
				RESOURCEBUTTON_ICONCLS,
			</if>
			<if test="resourcebuttonInterpreter != null">
				RESOURCEBUTTON_INTERPRETER,
			</if>
			<if test="resourcebuttonJslistener != null">
				RESOURCEBUTTON_JSLISTENER,
			</if>
			<if test="resourcebuttonMsg != null">
				RESOURCEBUTTON_MSG,
			</if>
			<if test="resourcebuttonName != null">
				RESOURCEBUTTON_NAME,
			</if>
			<if test="resourcebuttonNameEn != null">
				RESOURCEBUTTON_NAME_EN,
			</if>
			<if test="resourcebuttonNewfuncid != null">
				RESOURCEBUTTON_NEWFUNCID,
			</if>
			<if test="resourcebuttonNoreadonly != null">
				RESOURCEBUTTON_NOREADONLY,
			</if>
			<if test="resourcebuttonSysmode != null">
				RESOURCEBUTTON_SYSMODE,
			</if>
			<if test="resourcebuttonType != null">
				RESOURCEBUTTON_TYPE,
			</if>
			<if test="resourcebuttonWfendedenable != null">
				RESOURCEBUTTON_WFENDEDENABLE,
			</if>
			<if test="resourcebuttonXtype != null">
				RESOURCEBUTTON_XTYPE,
			</if>
			<if test="syAudflag != null">
				SY_AUDFLAG,
			</if>
			<if test="syCreateorg != null">
				SY_CREATEORG,
			</if>
			<if test="syCreateorgname != null">
				SY_CREATEORGNAME,
			</if>
			<if test="syCreatetime != null">
				SY_CREATETIME,
			</if>
			<if test="syCreateuser != null">
				SY_CREATEUSER,
			</if>
			<if test="syCreateusername != null">
				SY_CREATEUSERNAME,
			</if>
			<if test="syFlag != null">
				SY_FLAG,
			</if>
			<if test="syFormuploadfiles != null">
				SY_FORMUPLOADFILES,
			</if>
			<if test="syModifyorg != null">
				SY_MODIFYORG,
			</if>
			<if test="syModifyorgname != null">
				SY_MODIFYORGNAME,
			</if>
			<if test="syModifytime != null">
				SY_MODIFYTIME,
			</if>
			<if test="syModifyuser != null">
				SY_MODIFYUSER,
			</if>
			<if test="syModifyusername != null">
				SY_MODIFYUSERNAME,
			</if>
			<if test="syOrderindex != null">
				SY_ORDERINDEX,
			</if>
			<if test="syPdid != null">
				SY_PDID,
			</if>
			<if test="syPiid != null">
				SY_PIID,
			</if>
			<if test="syPyjz != null">
				SY_PYJZ,
			</if>
			<if test="syPyqc != null">
				SY_PYQC,
			</if>
			<if test="syStatus != null">
				SY_STATUS,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				#{enterpriseId},
			</if>
			<if test="organizationId != null">
				#{organizationId},
			</if>
			<if test="jeCoreResourcebuttonId != null">
				#{jeCoreResourcebuttonId},
			</if>
			<if test="resourcebuttonFuncinfoId != null">
				#{resourcebuttonFuncinfoId},
			</if>
			<if test="resourcebuttonBigiconcls != null">
				#{resourcebuttonBigiconcls},
			</if>
			<if test="resourcebuttonCode != null">
				#{resourcebuttonCode},
			</if>
			<if test="resourcebuttonConfiginfo != null">
				#{resourcebuttonConfiginfo},
			</if>
			<if test="resourcebuttonDisabled != null">
				#{resourcebuttonDisabled},
			</if>
			<if test="resourcebuttonFireevent != null">
				#{resourcebuttonFireevent},
			</if>
			<if test="resourcebuttonFormbind != null">
				#{resourcebuttonFormbind},
			</if>
			<if test="resourcebuttonHidden != null">
				#{resourcebuttonHidden},
			</if>
			<if test="resourcebuttonIconcls != null">
				#{resourcebuttonIconcls},
			</if>
			<if test="resourcebuttonInterpreter != null">
				#{resourcebuttonInterpreter},
			</if>
			<if test="resourcebuttonJslistener != null">
				#{resourcebuttonJslistener},
			</if>
			<if test="resourcebuttonMsg != null">
				#{resourcebuttonMsg},
			</if>
			<if test="resourcebuttonName != null">
				#{resourcebuttonName},
			</if>
			<if test="resourcebuttonNameEn != null">
				#{resourcebuttonNameEn},
			</if>
			<if test="resourcebuttonNewfuncid != null">
				#{resourcebuttonNewfuncid},
			</if>
			<if test="resourcebuttonNoreadonly != null">
				#{resourcebuttonNoreadonly},
			</if>
			<if test="resourcebuttonSysmode != null">
				#{resourcebuttonSysmode},
			</if>
			<if test="resourcebuttonType != null">
				#{resourcebuttonType},
			</if>
			<if test="resourcebuttonWfendedenable != null">
				#{resourcebuttonWfendedenable},
			</if>
			<if test="resourcebuttonXtype != null">
				#{resourcebuttonXtype},
			</if>
			<if test="syAudflag != null">
				#{syAudflag},
			</if>
			<if test="syCreateorg != null">
				#{syCreateorg},
			</if>
			<if test="syCreateorgname != null">
				#{syCreateorgname},
			</if>
			<if test="syCreatetime != null">
				#{syCreatetime},
			</if>
			<if test="syCreateuser != null">
				#{syCreateuser},
			</if>
			<if test="syCreateusername != null">
				#{syCreateusername},
			</if>
			<if test="syFlag != null">
				#{syFlag},
			</if>
			<if test="syFormuploadfiles != null">
				#{syFormuploadfiles},
			</if>
			<if test="syModifyorg != null">
				#{syModifyorg},
			</if>
			<if test="syModifyorgname != null">
				#{syModifyorgname},
			</if>
			<if test="syModifytime != null">
				#{syModifytime},
			</if>
			<if test="syModifyuser != null">
				#{syModifyuser},
			</if>
			<if test="syModifyusername != null">
				#{syModifyusername},
			</if>
			<if test="syOrderindex != null">
				#{syOrderindex, jdbcType=INTEGER},
			</if>
			<if test="syPdid != null">
				#{syPdid},
			</if>
			<if test="syPiid != null">
				#{syPiid},
			</if>
			<if test="syPyjz != null">
				#{syPyjz},
			</if>
			<if test="syPyqc != null">
				#{syPyqc},
			</if>
			<if test="syStatus != null">
				#{syStatus},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into ns_core_resourcebutton
		<trim prefix="(" suffix=")" suffixOverrides=",">
			ENTERPRISE_ID,
			ORGANIZATION_ID,
			JE_CORE_RESOURCEBUTTON_ID,
			RESOURCEBUTTON_FUNCINFO_ID,
			RESOURCEBUTTON_BIGICONCLS,
			RESOURCEBUTTON_CODE,
			RESOURCEBUTTON_CONFIGINFO,
			RESOURCEBUTTON_DISABLED,
			RESOURCEBUTTON_FIREEVENT,
			RESOURCEBUTTON_FORMBIND,
			RESOURCEBUTTON_HIDDEN,
			RESOURCEBUTTON_ICONCLS,
			RESOURCEBUTTON_INTERPRETER,
			RESOURCEBUTTON_JSLISTENER,
			RESOURCEBUTTON_MSG,
			RESOURCEBUTTON_NAME,
			RESOURCEBUTTON_NAME_EN,
			RESOURCEBUTTON_NEWFUNCID,
			RESOURCEBUTTON_NOREADONLY,
			RESOURCEBUTTON_SYSMODE,
			RESOURCEBUTTON_TYPE,
			RESOURCEBUTTON_WFENDEDENABLE,
			RESOURCEBUTTON_XTYPE,
			SY_AUDFLAG,
			SY_CREATEORG,
			SY_CREATEORGNAME,
			SY_CREATETIME,
			SY_CREATEUSER,
			SY_CREATEUSERNAME,
			SY_FLAG,
			SY_FORMUPLOADFILES,
			SY_MODIFYORG,
			SY_MODIFYORGNAME,
			SY_MODIFYTIME,
			SY_MODIFYUSER,
			SY_MODIFYUSERNAME,
			SY_ORDERINDEX,
			SY_PDID,
			SY_PIID,
			SY_PYJZ,
			SY_PYQC,
			SY_STATUS,
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.enterpriseId},
			#{item.organizationId},
			#{item.jeCoreResourcebuttonId},
			#{item.resourcebuttonFuncinfoId},
			#{item.resourcebuttonBigiconcls},
			#{item.resourcebuttonCode},
			#{item.resourcebuttonConfiginfo},
			#{item.resourcebuttonDisabled},
			#{item.resourcebuttonFireevent},
			#{item.resourcebuttonFormbind},
			#{item.resourcebuttonHidden},
			#{item.resourcebuttonIconcls},
			#{item.resourcebuttonInterpreter},
			#{item.resourcebuttonJslistener},
			#{item.resourcebuttonMsg},
			#{item.resourcebuttonName},
			#{item.resourcebuttonNameEn},
			#{item.resourcebuttonNewfuncid},
			#{item.resourcebuttonNoreadonly},
			#{item.resourcebuttonSysmode},
			#{item.resourcebuttonType},
			#{item.resourcebuttonWfendedenable},
			#{item.resourcebuttonXtype},
			#{item.syAudflag},
			#{item.syCreateorg},
			#{item.syCreateorgname},
			#{item.syCreatetime},
			#{item.syCreateuser},
			#{item.syCreateusername},
			#{item.syFlag},
			#{item.syFormuploadfiles},
			#{item.syModifyorg},
			#{item.syModifyorgname},
			#{item.syModifytime},
			#{item.syModifyuser},
			#{item.syModifyusername},
			#{item.syOrderindex},
			#{item.syPdid},
			#{item.syPiid},
			#{item.syPyjz},
			#{item.syPyqc},
			#{item.syStatus}
        )
        </foreach>
	</insert>
	
</mapper>