<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.system.dao.NsSystemGroupMapper">

	<resultMap id="NsSystemGroupResultMap" type="com.newsee.system.entity.NsSystemGroup">
			<id property="groupId" column="group_id" jdbcType="BIGINT"/>
			<result property="enterpriseId" column="enterprise_id" jdbcType="BIGINT"/>
			<result property="groupName" column="group_name" jdbcType="VARCHAR"/>
			
			<result property="groupShortName" column="group_short_name" jdbcType="VARCHAR"/>
			<result property="groupCode" column="group_code" jdbcType="VARCHAR"/>
			
			<result property="groupEnablestate" column="group_enablestate" jdbcType="TINYINT"/>
			<result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
			<result property="remark" column="remark" jdbcType="VARCHAR"/>
			<result property="createUserId" column="create_user_id" jdbcType="BIGINT"/>
			<result property="createUserName" column="create_user_name" jdbcType="VARCHAR"/>
			<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
			<result property="updateUserId" column="update_user_id" jdbcType="BIGINT"/>
			<result property="updateUserName" column="update_user_name" jdbcType="VARCHAR"/>
			<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="NsSystemGroup_Column_List">
		group_id,enterprise_id,group_name,group_short_name,group_code,group_enablestate,is_deleted,remark,create_user_id,create_user_name,create_time,update_user_id,update_user_name,update_time
	</sql>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="NsSystemGroupResultMap">
		select
			<include refid="NsSystemGroup_Column_List" />
		from
			ns_system_group
		where
			group_id = #{groupId}
	</select>
	
	<update id="updateById" parameterType="com.newsee.system.entity.NsSystemGroup">
		update ns_system_group
		<set>
			<if test="enterpriseId != null">
			  enterprise_id = #{enterpriseId, jdbcType=BIGINT },
			</if>
			<if test="groupName != null">
			  group_name = #{groupName, jdbcType=VARCHAR },
			</if>
			
			<if test="groupShortName != null">
              group_short_name = #{groupShortName, jdbcType=VARCHAR },
            </if>
            <if test="groupCode != null">
              group_code = #{groupCode, jdbcType=VARCHAR },
            </if>
            
			<if test="groupEnablestate != null">
			  group_enablestate = #{groupEnablestate, jdbcType=TINYINT },
			</if>
			<if test="isDeleted != null">
			  is_deleted = #{isDeleted, jdbcType=TINYINT },
			</if>
			<if test="remark != null">
			  remark = #{remark, jdbcType=VARCHAR },
			</if>
			<if test="createUserId != null">
			  create_user_id = #{createUserId, jdbcType=BIGINT },
			</if>
			<if test="createUserName != null">
			  create_user_name = #{createUserName, jdbcType=VARCHAR },
			</if>
			<if test="createTime != null">
			  create_time = #{createTime, jdbcType=TIMESTAMP },
			</if>
			<if test="updateUserId != null">
			  update_user_id = #{updateUserId, jdbcType=BIGINT },
			</if>
			<if test="updateUserName != null">
			  update_user_name = #{updateUserName, jdbcType=VARCHAR },
			</if>
			<if test="updateTime != null">
			  update_time = #{updateTime, jdbcType=TIMESTAMP },
			</if>
		</set>
		where
			group_id = #{groupId}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from ns_system_group 
		where
			group_id = #{id}
	</delete>
	
	<update id="deleteSoftById" parameterType="java.lang.Long">
		update set ns_system_group
		del_status = 1,
		update_user_id = #{ updateUserId, jdbcType=BIGINT },
		update_time = #{updateTime, jdbcType=TIMESTAMP }
		where
			group_id = #{id}
	</update>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="groupId"
		parameterType="com.newsee.system.entity.NsSystemGroup">
		  <selectKey resultType="java.lang.Long" keyProperty="groupId"
               order="AFTER">
          SELECT
          LAST_INSERT_ID()
        </selectKey>
		insert into ns_system_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				enterprise_id,
			</if>
			<if test="groupName != null">
				group_name,
			</if>
			
			<if test="groupShortName != null">
                group_short_name,
            </if>
            <if test="groupCode != null">
                group_code,
            </if>
            
			<if test="groupEnablestate != null">
				group_enablestate,
			</if>
			<if test="isDeleted != null">
				is_deleted,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createUserId != null">
				create_user_id,
			</if>
			<if test="createUserName != null">
				create_user_name,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateUserId != null">
				update_user_id,
			</if>
			<if test="updateUserName != null">
				update_user_name,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				#{enterpriseId, jdbcType=BIGINT},
			</if>
			<if test="groupName != null">
				#{groupName, jdbcType=VARCHAR},
			</if>
			
			 <if test="groupShortName != null">
                #{groupShortName, jdbcType=VARCHAR},
            </if>
                <if test="groupCode != null">
                #{groupCode, jdbcType=VARCHAR},
            </if>
            
			<if test="groupEnablestate != null">
				#{groupEnablestate, jdbcType=TINYINT},
			</if>
			<if test="isDeleted != null">
				#{isDeleted, jdbcType=TINYINT},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				#{createUserId, jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId, jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into ns_system_group
		<trim prefix="(" suffix=")" suffixOverrides=",">
			enterprise_id,
			group_name,
			group_short_name,
			group_code,
			group_enablestate,
			is_deleted,
			remark,
			create_user_id,
			create_user_name,
			create_time,
			update_user_id,
			update_user_name,
			update_time,
		</trim>
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.enterpriseId, jdbcType=BIGINT},
			#{item.groupName, jdbcType=VARCHAR},
			#{item.groupShortName, jdbcType=VARCHAR},
			#{item.groupCode, jdbcType=VARCHAR},
			#{item.groupEnablestate, jdbcType=TINYINT},
			#{item.isDeleted, jdbcType=TINYINT},
			#{item.remark, jdbcType=VARCHAR},
			#{item.createUserId, jdbcType=BIGINT},
			#{item.createUserName, jdbcType=VARCHAR},
			#{item.createTime, jdbcType=TIMESTAMP},
			#{item.updateUserId, jdbcType=BIGINT},
			#{item.updateUserName, jdbcType=VARCHAR},
			#{item.updateTime, jdbcType=TIMESTAMP},
        )
        </foreach>
	</insert>
	
</mapper>