<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.owner.dao.OwnerHouseGarageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.newsee.owner.entity.OwnerHouseGarageInfo" >
    <id column="house_id" property="houseId" jdbcType="BIGINT" />
    <result column="garage_no" property="garageNo" jdbcType="VARCHAR" />
    <result column="garage_short_name" property="garageShortName" jdbcType="VARCHAR" />
    <result column="carport_count" property="carportCount" jdbcType="INTEGER" />
    <result column="building_area" property="buildingArea" jdbcType="BIGINT" />
    <result column="developer" property="developer" jdbcType="BIGINT" />
    <result column="builder" property="builder" jdbcType="VARCHAR" />
    <result column="delivery_time" property="deliveryTime" jdbcType="DATE" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    house_id, garage_no, garage_short_name, carport_count, building_area, developer, builder, delivery_time, remark, create_user_id, 
    create_time, update_user_id, update_time,create_user_name, update_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from owner_house_garage_info
    where house_id = #{houseId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from owner_house_garage_info
    where house_id = #{houseId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newsee.owner.entity.OwnerHouseGarageInfo" >
    insert into owner_house_garage_info (house_id, garage_no, garage_short_name, 
      carport_count, building_area, developer, builder, delivery_time, remark, 
      create_user_id, create_time, update_user_id, 
      update_time,create_user_name, update_user_name
      )
    values (#{houseId,jdbcType=BIGINT}, #{garageNo,jdbcType=VARCHAR}, #{garageShortName,jdbcType=VARCHAR}, 
      #{carportCount,jdbcType=INTEGER}, #{buildingArea,jdbcType=BIGINT}, #{developer,jdbcType=VARCHAR},
      #{builder,jdbcType=VARCHAR}, #{deliveryTime,jdbcType=DATE}, #{remark,jdbcType=VARCHAR}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP},#{createUserName,jdbcType=VARCHAR}, #{updateUserName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newsee.owner.entity.OwnerHouseGarageInfo" >
    insert into owner_house_garage_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="garageNo != null" >
        garage_no,
      </if>
      <if test="garageShortName != null" >
        garage_short_name,
      </if>
      <if test="carportCount != null" >
        carport_count,
      </if>
      <if test="buildingArea != null" >
        building_area,
      </if>
      <if test="developer != null" >
        developer,
      </if>
      <if test="builder != null" >
        builder,
      </if>
      <if test="deliveryTime != null" >
        delivery_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
        create_user_id,
        create_time,
        update_user_id,
        update_time,
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=BIGINT},
      </if>
      <if test="garageNo != null" >
        #{garageNo,jdbcType=VARCHAR},
      </if>
      <if test="garageShortName != null" >
        #{garageShortName,jdbcType=VARCHAR},
      </if>
      <if test="carportCount != null" >
        #{carportCount,jdbcType=INTEGER},
      </if>
      <if test="buildingArea != null" >
        #{buildingArea,jdbcType=BIGINT},
      </if>
      <if test="developer != null" >
        #{developer,jdbcType=BIGINT},
      </if>
      <if test="builder != null" >
        #{builder,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        #{deliveryTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
        #{createUserId,jdbcType=BIGINT},
        now(),
        #{createUserId,jdbcType=BIGINT},
        now(),
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newsee.owner.entity.OwnerHouseGarageInfo" >
    update owner_house_garage_info
    <set >
      <if test="garageNo != null" >
        garage_no = #{garageNo,jdbcType=VARCHAR},
      </if>
      <if test="garageShortName != null" >
        garage_short_name = #{garageShortName,jdbcType=VARCHAR},
      </if>
      <if test="carportCount != null" >
        carport_count = #{carportCount,jdbcType=INTEGER},
      </if>
      <if test="buildingArea != null" >
        building_area = #{buildingArea,jdbcType=BIGINT},
      </if>
      <if test="developer != null" >
        developer = #{developer,jdbcType=BIGINT},
      </if>
      <if test="builder != null" >
        builder = #{builder,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null" >
        delivery_time = #{deliveryTime,jdbcType=DATE},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
        update_user_id = #{updateUserId,jdbcType=BIGINT},
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
        update_time = now(),
    </set>
    where house_id = #{houseId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newsee.owner.entity.OwnerHouseGarageInfo" >
    update owner_house_garage_info
    set garage_no = #{garageNo,jdbcType=VARCHAR},
      garage_short_name = #{garageShortName,jdbcType=VARCHAR},
      carport_count = #{carportCount,jdbcType=INTEGER},
      building_area = #{buildingArea,jdbcType=BIGINT},
      developer = #{developer,jdbcType=VARCHAR},
      builder = #{builder,jdbcType=BIGINT},
      delivery_time = #{deliveryTime,jdbcType=DATE},
      remark = #{remark,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_time = now()
    where house_id = #{houseId,jdbcType=BIGINT}
  </update>
  <select id="loadHouseByShortName" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
	    info.house_id, info.garage_no, info.garage_short_name, info.carport_count, info.building_area, info.developer, info.builder, info.delivery_time, info.remark, info.create_user_id, 
	    info.create_time, info.update_user_id, info.update_time
    from owner_house_garage_info info
    inner join owner_house_base_info base on base.house_id = info.house_id
    <where>
        base.enterprise_id = #{enterpriseId,jdbcType=BIGINT} and info.garage_short_name = #{shortName,jdbcType=VARCHAR}
        <if test="precinctId != null and precinctId != 0">
           and base.precinct_id = #{precinctId,jdbcType=BIGINT} 
        </if>
        <if test="houseId != null">
           and base.house_id != #{houseId,jdbcType=BIGINT}
        </if>
         AND base.is_deleted=FALSE AND base.edit_status = 0
    </where> 
  </select>
  <select id="loadHouseByNo" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
        info.house_id, info.garage_no, info.garage_short_name, info.carport_count, info.building_area, info.developer, info.builder, info.delivery_time, info.remark, info.create_user_id, 
        info.create_time, info.update_user_id, info.update_time
    from owner_house_garage_info info
    inner join owner_house_base_info base on base.house_id = info.house_id
    <where>
        base.enterprise_id = #{enterpriseId,jdbcType=BIGINT} and info.garage_no = #{no,jdbcType=VARCHAR}
        <if test="houseId != null">
           and base.house_id != #{houseId,jdbcType=BIGINT}
        </if>
         AND base.is_deleted=FALSE AND base.edit_status = 0
    </where> 
  </select>
</mapper>