<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.owner.dao.OwnerCustomerInfoMapper" >
  <resultMap id="BaseResultMap" type="com.newsee.owner.entity.OwnerCustomerInfo" >
    <id column="owner_id" property="ownerId" jdbcType="BIGINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="TIMESTAMP" />
    <result column="marital_status" property="maritalStatus" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="VARCHAR" />
    <result column="region" property="region" jdbcType="VARCHAR" />
    <result column="trade_id" property="tradeId" jdbcType="VARCHAR" />
    <result column="native_place" property="nativePlace" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="interests_ids" property="interestsIds" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="owner_base_info_owner_id" property="ownerBaseInfoOwnerId" jdbcType="BIGINT" />
    <result column="province_id" property="provinceId" jdbcType="VARCHAR" />
    <result column="city_id" property="cityId" jdbcType="VARCHAR" />
    <result column="area_id" property="areaId" jdbcType="VARCHAR" />
    <result column="street_id" property="streetId" jdbcType="VARCHAR" />
    <result column="regional_info" property="regionalInfo" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="company_phone" property="companyPhone" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="emergency_contact" property="emergencyContact" jdbcType="VARCHAR" />
    <result column="emergency_contact_phone" property="emergencyContactPhone" jdbcType="VARCHAR" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="company_properyty" property="companyProperyty" jdbcType="VARCHAR" />
    <result column="people_counts" property="peopleCounts" jdbcType="INTEGER" />
    <result column="registered_address" property="registeredAddress" jdbcType="VARCHAR" />
    <result column="fax" property="fax" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="linkman_phone" property="linkmanPhone" jdbcType="VARCHAR" />
    <result column="pic_url" property="picUrl" jdbcType="VARCHAR" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sys_time" property="sysTime" jdbcType="TIMESTAMP" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    owner_id, mobile, phone, gender, age, birthday, marital_status, education, region, trade_id, 
    native_place, nation, interests_ids, remark, owner_base_info_owner_id, province_id, 
    city_id, area_id, street_id, regional_info, address, company, company_phone, company_address, 
    email, qq, emergency_contact, emergency_contact_phone, legal_representative, company_properyty, 
    people_counts, registered_address, fax, linkman, linkman_phone, pic_url, create_user_id, create_time, 
    update_user_id, update_time, sys_time, create_user_name, update_user_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from owner_customer_info
    where owner_id = #{ownerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from owner_customer_info
    where owner_id = #{ownerId,jdbcType=BIGINT}
  </delete>
  <!-- <insert id="insert" parameterType="com.newsee.owner.entity.OwnerCustomerInfo" >
    insert into owner_customer_info (owner_id, mobile, phone, 
      gender, birthday, marital_status, 
      education, region, trade_id, 
      native_place, nation, interests_ids, 
      remark, owner_base_info_owner_id, province_id, 
      city_id, area_id, street_id, 
      regional_info, address, company, 
      company_phone, company_address, email, 
      qq, emergency_contact, emergency_contact_phone, 
      legal_representative, company_properyty, 
      people_counts, registered_address, fax, 
      linkman, linkman_phone, create_user_id, 
      create_time, update_user_id, update_time, 
      sys_time)
    values (#{ownerId,jdbcType=BIGINT}, #{mobile,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{gender,jdbcType=TINYINT}, #{birthday,jdbcType=TIMESTAMP}, #{maritalStatus,jdbcType=TINYINT}, 
      #{education,jdbcType=TINYINT}, #{region,jdbcType=TINYINT}, #{tradeId,jdbcType=INTEGER}, 
      #{nativePlace,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, #{interestsIds,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{ownerBaseInfoOwnerId,jdbcType=BIGINT}, #{provinceId,jdbcType=INTEGER}, 
      #{cityId,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{streetId,jdbcType=INTEGER}, 
      #{regionalInfo,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{companyPhone,jdbcType=VARCHAR}, #{companyAddress,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{emergencyContact,jdbcType=VARCHAR}, #{emergencyContactPhone,jdbcType=VARCHAR}, 
      #{legalRepresentative,jdbcType=VARCHAR}, #{companyProperyty,jdbcType=VARCHAR}, 
      #{peopleCounts,jdbcType=INTEGER}, #{registeredAddress,jdbcType=VARCHAR}, #{fax,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{linkmanPhone,jdbcType=VARCHAR}, #{createUserId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{sysTime,jdbcType=TIMESTAMP})
  </insert> -->
  <insert id="insert" parameterType="com.newsee.owner.entity.OwnerCustomerInfo" >
    insert into owner_customer_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="maritalStatus != null" >
        marital_status,
      </if>
      <if test="education != null" >
        education,
      </if>
      <if test="region != null" >
        region,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="nativePlace != null" >
        native_place,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="interestsIds != null" >
        interests_ids,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        owner_base_info_owner_id,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="areaId != null" >
        area_id,
      </if>
      <if test="streetId != null" >
        street_id,
      </if>
      <if test="regionalInfo != null" >
        regional_info,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="company != null" >
        company,
      </if>
      <if test="companyPhone != null" >
        company_phone,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="emergencyContact != null" >
        emergency_contact,
      </if>
      <if test="emergencyContactPhone != null" >
        emergency_contact_phone,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="companyProperyty != null" >
        company_properyty,
      </if>
      <if test="peopleCounts != null" >
        people_counts,
      </if>
      <if test="registeredAddress != null" >
        registered_address,
      </if>
      <if test="fax != null" >
        fax,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="linkmanPhone != null" >
        linkman_phone,
      </if>
      <if test="picUrl != null" >
        pic_url,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
        
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
        create_time,
        update_time,
        sys_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ownerId != null" >
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="maritalStatus != null" >
        #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        #{region,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="interestsIds != null" >
        #{interestsIds,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        #{ownerBaseInfoOwnerId,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=VARCHAR},
      </if>
      <if test="regionalInfo != null" >
        #{regionalInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null" >
        #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null" >
        #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContactPhone != null" >
        #{emergencyContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="companyProperyty != null" >
        #{companyProperyty,jdbcType=VARCHAR},
      </if>
      <if test="peopleCounts != null" >
        #{peopleCounts,jdbcType=INTEGER},
      </if>
      <if test="registeredAddress != null" >
        #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        #{fax,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhone != null" >
        #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
        
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
        NOW(),
        NOW(),
        NOW()
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newsee.owner.entity.OwnerCustomerInfo" >
    update owner_customer_info
    <set >
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="maritalStatus != null" >
        marital_status = #{maritalStatus,jdbcType=VARCHAR},
      </if>
      <if test="education != null" >
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="region != null" >
        region = #{region,jdbcType=VARCHAR},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=VARCHAR},
      </if>
      <if test="nativePlace != null" >
        native_place = #{nativePlace,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="interestsIds != null" >
        interests_ids = #{interestsIds,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        owner_base_info_owner_id = #{ownerBaseInfoOwnerId,jdbcType=BIGINT},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=VARCHAR},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        area_id = #{areaId,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        street_id = #{streetId,jdbcType=VARCHAR},
      </if>
      <if test="regionalInfo != null" >
        regional_info = #{regionalInfo,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="companyPhone != null" >
        company_phone = #{companyPhone,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContact != null" >
        emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      </if>
      <if test="emergencyContactPhone != null" >
        emergency_contact_phone = #{emergencyContactPhone,jdbcType=VARCHAR},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="companyProperyty != null" >
        company_properyty = #{companyProperyty,jdbcType=VARCHAR},
      </if>
      <if test="peopleCounts != null" >
        people_counts = #{peopleCounts,jdbcType=INTEGER},
      </if>
      <if test="registeredAddress != null" >
        registered_address = #{registeredAddress,jdbcType=VARCHAR},
      </if>
      <if test="fax != null" >
        fax = #{fax,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="linkmanPhone != null" >
        linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null" >
        pic_url = #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
        update_time = NOW(),
        sys_time = NOW()
    </set>
    where owner_id = #{ownerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimary" parameterType="com.newsee.owner.entity.OwnerCustomerInfo" >
    update owner_customer_info
    set mobile = #{mobile,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      marital_status = #{maritalStatus,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      region = #{region,jdbcType=VARCHAR},
      trade_id = #{tradeId,jdbcType=VARCHAR},
      native_place = #{nativePlace,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      interests_ids = #{interestsIds,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      owner_base_info_owner_id = #{ownerBaseInfoOwnerId,jdbcType=BIGINT},
      province_id = #{provinceId,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      area_id = #{areaId,jdbcType=VARCHAR},
      street_id = #{streetId,jdbcType=VARCHAR},
      regional_info = #{regionalInfo,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      company_phone = #{companyPhone,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      emergency_contact = #{emergencyContact,jdbcType=VARCHAR},
      emergency_contact_phone = #{emergencyContactPhone,jdbcType=VARCHAR},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      company_properyty = #{companyProperyty,jdbcType=VARCHAR},
      people_counts = #{peopleCounts,jdbcType=INTEGER},
      registered_address = #{registeredAddress,jdbcType=VARCHAR},
      fax = #{fax,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      linkman_phone = #{linkmanPhone,jdbcType=VARCHAR},
      pic_url = #{picUrl,jdbcType=VARCHAR},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_time = NOW(),
      sys_time = NOW()
    where owner_id = #{ownerId,jdbcType=BIGINT}
  </update>
</mapper>