<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newsee.owner.dao.OwnerHousePropertyOwnerMapper">
  <resultMap id="BaseResultMap" type="com.newsee.owner.entity.OwnerHousePropertyOwner">
    <id column="property_owner_id" jdbcType="BIGINT" property="propertyOwnerId" />
    <result column="house_id" jdbcType="BIGINT" property="houseId" />
    <result column="house_name" jdbcType="VARCHAR" property="houseName" />
    <result column="owner_id" jdbcType="BIGINT" property="ownerId" />
    <result column="owner_name" jdbcType="VARCHAR" property="ownerName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="create_user_id" jdbcType="BIGINT" property="createUserId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="BIGINT" property="updateUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="sys_time" jdbcType="TIMESTAMP" property="sysTime" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="update_user_name" property="updateUserName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    property_owner_id, house_id, house_name, owner_id, owner_name, is_deleted, create_user_id, 
    create_time, update_user_id, update_time, sys_time,create_user_name, update_user_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from owner_house_property_owner
    where property_owner_id = #{propertyOwnerId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from owner_house_property_owner
    where property_owner_id = #{propertyOwnerId,jdbcType=BIGINT}
  </delete>
  <insert id="insertBatch" parameterType="java.util.List">
    insert into owner_house_property_owner (house_id, house_name, 
      owner_id, owner_name, is_deleted, 
      create_user_id, create_time, update_user_id, 
      update_time, sys_time,create_user_name, update_user_name)
    values 
    <foreach collection="list" item="item" separator=",">
      (#{item.houseId,jdbcType=BIGINT}, #{item.houseName,jdbcType=VARCHAR}, 
      #{item.ownerId,jdbcType=BIGINT}, #{item.ownerName,jdbcType=VARCHAR}, #{item.isDeleted,jdbcType=TINYINT}, 
      #{item.createUserId,jdbcType=BIGINT}, NOW(), #{item.updateUserId,jdbcType=BIGINT}, 
      NOW(), NOW(),#{item.createUserName,jdbcType=VARCHAR}, #{item.updateUserName,jdbcType=VARCHAR})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.newsee.owner.entity.OwnerHousePropertyOwner">
    insert into owner_house_property_owner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="propertyOwnerId != null">
        property_owner_id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="houseName != null">
        house_name,
      </if>
      <if test="ownerId != null">
        owner_id,
      </if>
      <if test="ownerName != null">
        owner_name,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="createUserId != null">
        create_user_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="sysTime != null">
        sys_time,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="updateUserName != null" >
        update_user_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="propertyOwnerId != null">
        #{propertyOwnerId,jdbcType=BIGINT},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=BIGINT},
      </if>
      <if test="houseName != null">
        #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="ownerName != null">
        #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null">
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null">
        #{sysTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateUserName != null" >
        #{updateUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newsee.owner.entity.OwnerHousePropertyOwner">
    update owner_house_property_owner
    <set>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=BIGINT},
      </if>
      <if test="houseName != null">
        house_name = #{houseName,jdbcType=VARCHAR},
      </if>
      <if test="ownerId != null">
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="ownerName != null">
        owner_name = #{ownerName,jdbcType=VARCHAR},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateUserName != null" >
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null">
        sys_time = #{sysTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where property_owner_id = #{propertyOwnerId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newsee.owner.entity.OwnerHousePropertyOwner">
    update owner_house_property_owner
    set house_id = #{houseId,jdbcType=BIGINT},
      house_name = #{houseName,jdbcType=VARCHAR},
      owner_id = #{ownerId,jdbcType=BIGINT},
      owner_name = #{ownerName,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_user_name = #{updateUserName,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_time = #{sysTime,jdbcType=TIMESTAMP}
    where property_owner_id = #{propertyOwnerId,jdbcType=BIGINT}
  </update>
</mapper>