<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.owner.dao.OwnerHouseEntranceGuardCardMapper" >
  <resultMap id="BaseResultMap" type="com.newsee.owner.entity.OwnerHouseEntranceGuardCard" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="house_id" property="houseId" jdbcType="BIGINT" />
    <result column="owner_id" property="ownerId" jdbcType="BIGINT" />
    <result column="card_no" property="cardNo" jdbcType="VARCHAR" />
    <result column="card_status" property="cardStatus" jdbcType="TINYINT" />
    <result column="is_deleted" property="isDeleted" jdbcType="TINYINT" />
    <result column="create_user_id" property="createUserId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_user_id" property="updateUserId" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="sys_time" property="sysTime" jdbcType="TIMESTAMP" />
    <result column="house_base_info_house_id" property="houseBaseInfoHouseId" jdbcType="BIGINT" />
    <result column="owner_base_info_owner_id" property="ownerBaseInfoOwnerId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, house_id, owner_id, card_no, card_status, is_deleted, create_user_id, create_time, 
    update_user_id, update_time, sys_time, house_base_info_house_id, owner_base_info_owner_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from owner_house_entrance_guard_card
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from owner_house_entrance_guard_card
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.newsee.owner.entity.OwnerHouseEntranceGuardCard" >
    insert into owner_house_entrance_guard_card (id, house_id, owner_id, 
      card_no, card_status, is_deleted, 
      create_user_id, create_time, update_user_id, 
      update_time, sys_time, house_base_info_house_id, 
      owner_base_info_owner_id)
    values (#{id,jdbcType=BIGINT}, #{houseId,jdbcType=BIGINT}, #{ownerId,jdbcType=BIGINT}, 
      #{cardNo,jdbcType=VARCHAR}, #{cardStatus,jdbcType=TINYINT}, #{isDeleted,jdbcType=TINYINT}, 
      #{createUserId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{sysTime,jdbcType=TIMESTAMP}, #{houseBaseInfoHouseId,jdbcType=BIGINT}, 
      #{ownerBaseInfoOwnerId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.newsee.owner.entity.OwnerHouseEntranceGuardCard" >
    insert into owner_house_entrance_guard_card
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="ownerId != null" >
        owner_id,
      </if>
      <if test="cardNo != null" >
        card_no,
      </if>
      <if test="cardStatus != null" >
        card_status,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="sysTime != null" >
        sys_time,
      </if>
      <if test="houseBaseInfoHouseId != null" >
        house_base_info_house_id,
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        owner_base_info_owner_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="houseId != null" >
        #{houseId,jdbcType=BIGINT},
      </if>
      <if test="ownerId != null" >
        #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="cardNo != null" >
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null" >
        #{cardStatus,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null" >
        #{sysTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseBaseInfoHouseId != null" >
        #{houseBaseInfoHouseId,jdbcType=BIGINT},
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        #{ownerBaseInfoOwnerId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newsee.owner.entity.OwnerHouseEntranceGuardCard" >
    update owner_house_entrance_guard_card
    <set >
      <if test="houseId != null" >
        house_id = #{houseId,jdbcType=BIGINT},
      </if>
      <if test="ownerId != null" >
        owner_id = #{ownerId,jdbcType=BIGINT},
      </if>
      <if test="cardNo != null" >
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="cardStatus != null" >
        card_status = #{cardStatus,jdbcType=TINYINT},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=TINYINT},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sysTime != null" >
        sys_time = #{sysTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseBaseInfoHouseId != null" >
        house_base_info_house_id = #{houseBaseInfoHouseId,jdbcType=BIGINT},
      </if>
      <if test="ownerBaseInfoOwnerId != null" >
        owner_base_info_owner_id = #{ownerBaseInfoOwnerId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newsee.owner.entity.OwnerHouseEntranceGuardCard" >
    update owner_house_entrance_guard_card
    set house_id = #{houseId,jdbcType=BIGINT},
      owner_id = #{ownerId,jdbcType=BIGINT},
      card_no = #{cardNo,jdbcType=VARCHAR},
      card_status = #{cardStatus,jdbcType=TINYINT},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_user_id = #{createUserId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      sys_time = #{sysTime,jdbcType=TIMESTAMP},
      house_base_info_house_id = #{houseBaseInfoHouseId,jdbcType=BIGINT},
      owner_base_info_owner_id = #{ownerBaseInfoOwnerId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>