<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.bill.dao.NsbillPrintPageMapper">

	<resultMap id="NsbillPrintPageResultMap" type="com.newsee.bill.entity.NsbillPrintPage">
			<id property="id" column="Id" jdbcType="BIGINT"/>
			<result property="settingId" column="SettingId" jdbcType="BIGINT"/>
			<result property="printerName" column="PrinterName" jdbcType="VARCHAR"/>
			<result property="paperName" column="PaperName" jdbcType="VARCHAR"/>
			<result property="orientation" column="Orientation" jdbcType="VARCHAR"/>
			<result property="imgSrc" column="ImgSrc" jdbcType="VARCHAR"/>
			<result property="imgHeight" column="ImgHeight" jdbcType="INTEGER"/>
			<result property="imgWidth" column="ImgWidth" jdbcType="INTEGER"/>
			<result property="leftPadding" column="LeftPadding" jdbcType="INTEGER"/>
			<result property="topPadding" column="TopPadding" jdbcType="INTEGER"/>
			<result property="createUserId" column="CreateUserId" jdbcType="BIGINT"/>
			<result property="createUserName" column="CreateUserName" jdbcType="VARCHAR"/>
			<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
			<result property="updateUserId" column="UpdateUserId" jdbcType="BIGINT"/>
			<result property="updateUserName" column="UpdateUserName" jdbcType="VARCHAR"/>
			<result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
			<result property="isDelete" column="IsDelete" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="NsbillPrintPage_Column_List">
		Id,SettingId,PrinterName,PaperName,Orientation,ImgSrc,ImgHeight,ImgWidth,LeftPadding,TopPadding,CreateUserId,CreateUserName,CreateTime,UpdateUserId,UpdateUserName,UpdateTime,IsDelete
	</sql>
	
	<select id="listPage" parameterType="com.newsee.common.vo.SearchVo" resultMap="NsbillPrintPageResultMap">
	    select 
	        <include refid="NsbillPrintPage_Column_List" />
	    from 
	       NS_Bill_PrintPage
	    <where>
	        is_deleted = 0
	        <if test="mainSearch != null and mainSearch != ''">
	            and LOCATE(#{mainSearch,jdbcType=VARCHAR}, user_name)>0 
	        </if>
	        <if test="enterpriseId != null">
	            and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
	        </if>
	        <if test="organizationId != null">
	            and organization_id = #{organizationId,jdbcType=BIGINT}
	        </if>
	        <if test="filterList != null">
	            <foreach collection="filterList" item="item">
	               <choose>
	                   <when test="item.comparison != null and item.comparison == 'NULL'">
	                       and (#{item.fieldUnderLineName} IS NULL or #{item.fieldUnderLineName} = '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_NULL'">
	                       and (#{item.fieldUnderLineName} IS NOT NULL or #{item.fieldUnderLineName} != '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_LIKE'">
	                       and LOCATE(#{item.fieldValue}, #{item.fieldUnderLineName})=0 
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LIKE'">
	                       and LOCATE(#{item.fieldValue}, #{item.fieldUnderLineName})>0
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_THAN'">
	                       and #{item.fieldUnderLineName} &gt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_THAN'">
	                       and #{item.fieldUnderLineName} &lt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'EQUAL'">
	                       and #{item.fieldUnderLineName} = #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_EQUAL'">
	                       and #{item.fieldUnderLineName} != #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_EQUAL_THAN'">
	                       and #{item.fieldUnderLineName} &gt;= #{item.fieldValue}               
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_EQUAL_THAN'">
	                       and #{item.fieldUnderLineName} &lt;= #{item.fieldValue}
	                   </when>
	               </choose>
	            </foreach>
	        </if>
	
	        <if test="orderFieldUnderLineName != null and orderFieldUnderLineName != ''">
	           order by ${orderFieldUnderLineName}
	           <if test="orderBy != null and orderBy != ''">
	              ${orderBy}
	           </if>
	        </if>
	    </where>
	  </select>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="NsbillPrintPageResultMap">
		select
			<include refid="NsbillPrintPage_Column_List" />
		from
			NS_Bill_PrintPage
		where
			Id = #{id}
	</select>
	
	<update id="updateById" parameterType="com.newsee.bill.entity.NsbillPrintPage">
		update NS_Bill_PrintPage
		<set>
			<if test="settingId != null">
			  SettingId = #{settingId, jdbcType=BIGINT },
			</if>
			<if test="printerName != null">
			  PrinterName = #{printerName, jdbcType=VARCHAR },
			</if>
			<if test="paperName != null">
			  PaperName = #{paperName, jdbcType=VARCHAR },
			</if>
			<if test="orientation != null">
			  Orientation = #{orientation, jdbcType=VARCHAR },
			</if>
			<if test="imgSrc != null">
			  ImgSrc = #{imgSrc, jdbcType=VARCHAR },
			</if>
			<if test="imgHeight != null">
			  ImgHeight = #{imgHeight, jdbcType=INTEGER },
			</if>
			<if test="imgWidth != null">
			  ImgWidth = #{imgWidth, jdbcType=INTEGER },
			</if>
			<if test="leftPadding != null">
			  LeftPadding = #{leftPadding, jdbcType=INTEGER },
			</if>
			<if test="topPadding != null">
			  TopPadding = #{topPadding, jdbcType=INTEGER },
			</if>
			<if test="createUserId != null">
			  CreateUserId = #{createUserId, jdbcType=BIGINT },
			</if>
			<if test="createUserName != null">
			  CreateUserName = #{createUserName, jdbcType=VARCHAR },
			</if>
			<if test="createTime != null">
			  CreateTime = #{createTime, jdbcType=TIMESTAMP },
			</if>
			<if test="updateUserId != null">
			  UpdateUserId = #{updateUserId, jdbcType=BIGINT },
			</if>
			<if test="updateUserName != null">
			  UpdateUserName = #{updateUserName, jdbcType=VARCHAR },
			</if>
			<if test="updateTime != null">
			  UpdateTime = #{updateTime, jdbcType=TIMESTAMP },
			</if>
			<if test="isDelete != null">
			  IsDelete = #{isDelete, jdbcType=INTEGER },
			</if>
		</set>
		where
			Id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from NS_Bill_PrintPage 
		where
			Id = #{id}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from NS_Bill_PrintPage
		where
			Id in
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	   		${item}
        </foreach>
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.newsee.bill.entity.NsbillPrintPage">
		insert into NS_Bill_PrintPage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="settingId != null">
				SettingId,
			</if>
			<if test="printerName != null">
				PrinterName,
			</if>
			<if test="paperName != null">
				PaperName,
			</if>
			<if test="orientation != null">
				Orientation,
			</if>
			<if test="imgSrc != null">
				ImgSrc,
			</if>
			<if test="imgHeight != null">
				ImgHeight,
			</if>
			<if test="imgWidth != null">
				ImgWidth,
			</if>
			<if test="leftPadding != null">
				LeftPadding,
			</if>
			<if test="topPadding != null">
				TopPadding,
			</if>
			<if test="createUserId != null">
				CreateUserId,
			</if>
			<if test="createUserName != null">
				CreateUserName,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="updateUserId != null">
				UpdateUserId,
			</if>
			<if test="updateUserName != null">
				UpdateUserName,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="isDelete != null">
				IsDelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="settingId != null">
				#{settingId, jdbcType=BIGINT},
			</if>
			<if test="printerName != null">
				#{printerName, jdbcType=VARCHAR},
			</if>
			<if test="paperName != null">
				#{paperName, jdbcType=VARCHAR},
			</if>
			<if test="orientation != null">
				#{orientation, jdbcType=VARCHAR},
			</if>
			<if test="imgSrc != null">
				#{imgSrc, jdbcType=VARCHAR},
			</if>
			<if test="imgHeight != null">
				#{imgHeight, jdbcType=INTEGER},
			</if>
			<if test="imgWidth != null">
				#{imgWidth, jdbcType=INTEGER},
			</if>
			<if test="leftPadding != null">
				#{leftPadding, jdbcType=INTEGER},
			</if>
			<if test="topPadding != null">
				#{topPadding, jdbcType=INTEGER},
			</if>
			<if test="createUserId != null">
				#{createUserId, jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId, jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into NS_Bill_PrintPage
		<trim prefix="(" suffix=")" suffixOverrides=",">
			SettingId,
			PrinterName,
			PaperName,
			Orientation,
			ImgSrc,
			ImgHeight,
			ImgWidth,
			LeftPadding,
			TopPadding,
			CreateUserId,
			CreateUserName,
			CreateTime,
			UpdateUserId,
			UpdateUserName,
			UpdateTime,
			IsDelete,
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.settingId, jdbcType=BIGINT},
			#{item.printerName, jdbcType=VARCHAR},
			#{item.paperName, jdbcType=VARCHAR},
			#{item.orientation, jdbcType=VARCHAR},
			#{item.imgSrc, jdbcType=VARCHAR},
			#{item.imgHeight, jdbcType=INTEGER},
			#{item.imgWidth, jdbcType=INTEGER},
			#{item.leftPadding, jdbcType=INTEGER},
			#{item.topPadding, jdbcType=INTEGER},
			#{item.createUserId, jdbcType=BIGINT},
			#{item.createUserName, jdbcType=VARCHAR},
			#{item.createTime, jdbcType=TIMESTAMP},
			#{item.updateUserId, jdbcType=BIGINT},
			#{item.updateUserName, jdbcType=VARCHAR},
			#{item.updateTime, jdbcType=TIMESTAMP},
			#{item.isDelete, jdbcType=INTEGER},
        )
        </foreach>
	</insert>
	
</mapper>