<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.bill.dao.NsbillBillInfoMapper">

	<resultMap id="NsbillBillInfoResultMap" type="com.newsee.bill.entity.NsbillBillInfo">
			<id property="id" column="Id" jdbcType="BIGINT"/>
			<result property="enterpriseId" column="EnterpriseId" jdbcType="BIGINT"/>
			<result property="organizationId" column="OrganizationId" jdbcType="BIGINT"/>
			<result property="batchCode" column="BatchCode" jdbcType="VARCHAR"/>
			<result property="batchName" column="BatchName" jdbcType="VARCHAR"/>
			<result property="buyDate" column="BuyDate" jdbcType="TIMESTAMP"/>
			<result property="fromCompany" column="FromCompany" jdbcType="VARCHAR"/>
			<result property="billType" column="BillType" jdbcType="VARCHAR"/>
			<result property="billTypeId" column="BillTypeId" jdbcType="BIGINT"/>
			<result property="remark" column="Remark" jdbcType="VARCHAR"/>
			<result property="createUserId" column="CreateUserId" jdbcType="BIGINT"/>
			<result property="createUserName" column="CreateUserName" jdbcType="VARCHAR"/>
			<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
			<result property="updateUserId" column="UpdateUserId" jdbcType="BIGINT"/>
			<result property="updateUserName" column="UpdateUserName" jdbcType="VARCHAR"/>
			<result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
			<result property="isDelete" column="IsDelete" jdbcType="BIGINT"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="NsbillBillInfo_Column_List">
		Id,EnterpriseId,OrganizationId,BatchCode,BatchName,BuyDate,FromCompany,BillType,BillTypeId,Remark,CreateUserId,CreateUserName,CreateTime,UpdateUserId,UpdateUserName,UpdateTime,IsDelete
	</sql>
	
	<select id="listPage" parameterType="com.newsee.common.vo.SearchVo" resultMap="NsbillBillInfoResultMap">
	    select 
	        <include refid="NsbillBillInfo_Column_List" />
	    from 
	       NS_Bill_BillInfo
	    <where>
	        is_deleted = 0
	        <if test="mainSearch != null and mainSearch != ''">
	            and LOCATE(#{mainSearch,jdbcType=VARCHAR}, user_name)>0 
	        </if>
	        <if test="enterpriseId != null">
	            and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
	        </if>
	        <if test="organizationId != null">
	            and organization_id = #{organizationId,jdbcType=BIGINT}
	        </if>
	        <if test="filterList != null">
	            <foreach collection="filterList" item="item">
	               <choose>
	                   <when test="item.comparison != null and item.comparison == 'NULL'">
	                       and (#{item.fieldUnderLineName} IS NULL or #{item.fieldUnderLineName} = '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_NULL'">
	                       and (#{item.fieldUnderLineName} IS NOT NULL or #{item.fieldUnderLineName} != '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_LIKE'">
	                       and LOCATE(#{item.fieldValue}, #{item.fieldUnderLineName})=0 
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LIKE'">
	                       and LOCATE(#{item.fieldValue}, #{item.fieldUnderLineName})>0
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_THAN'">
	                       and #{item.fieldUnderLineName} &gt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_THAN'">
	                       and #{item.fieldUnderLineName} &lt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'EQUAL'">
	                       and #{item.fieldUnderLineName} = #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_EQUAL'">
	                       and #{item.fieldUnderLineName} != #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_EQUAL_THAN'">
	                       and #{item.fieldUnderLineName} &gt;= #{item.fieldValue}               
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_EQUAL_THAN'">
	                       and #{item.fieldUnderLineName} &lt;= #{item.fieldValue}
	                   </when>
	               </choose>
	            </foreach>
	        </if>
	
	        <if test="orderFieldUnderLineName != null and orderFieldUnderLineName != ''">
	           order by ${orderFieldUnderLineName}
	           <if test="orderBy != null and orderBy != ''">
	              ${orderBy}
	           </if>
	        </if>
	    </where>
	  </select>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="NsbillBillInfoResultMap">
		select
			<include refid="NsbillBillInfo_Column_List" />
		from
			NS_Bill_BillInfo
		where
			Id = #{id}
	</select>
	
	<update id="updateById" parameterType="com.newsee.bill.entity.NsbillBillInfo">
		update NS_Bill_BillInfo
		<set>
			<if test="enterpriseId != null">
			  EnterpriseId = #{enterpriseId, jdbcType=BIGINT },
			</if>
			<if test="organizationId != null">
			  OrganizationId = #{organizationId, jdbcType=BIGINT },
			</if>
			<if test="batchCode != null">
			  BatchCode = #{batchCode, jdbcType=VARCHAR },
			</if>
			<if test="batchName != null">
			  BatchName = #{batchName, jdbcType=VARCHAR },
			</if>
			<if test="buyDate != null">
			  BuyDate = #{buyDate, jdbcType=TIMESTAMP },
			</if>
			<if test="fromCompany != null">
			  FromCompany = #{fromCompany, jdbcType=VARCHAR },
			</if>
			<if test="billType != null">
			  BillType = #{billType, jdbcType=VARCHAR },
			</if>
			<if test="billTypeId != null">
			  BillTypeId = #{billTypeId, jdbcType=BIGINT },
			</if>
			<if test="remark != null">
			  Remark = #{remark, jdbcType=VARCHAR },
			</if>
			<if test="createUserId != null">
			  CreateUserId = #{createUserId, jdbcType=BIGINT },
			</if>
			<if test="createUserName != null">
			  CreateUserName = #{createUserName, jdbcType=VARCHAR },
			</if>
			<if test="createTime != null">
			  CreateTime = #{createTime, jdbcType=TIMESTAMP },
			</if>
			<if test="updateUserId != null">
			  UpdateUserId = #{updateUserId, jdbcType=BIGINT },
			</if>
			<if test="updateUserName != null">
			  UpdateUserName = #{updateUserName, jdbcType=VARCHAR },
			</if>
			<if test="updateTime != null">
			  UpdateTime = #{updateTime, jdbcType=TIMESTAMP },
			</if>
			<if test="isDelete != null">
			  IsDelete = #{isDelete, jdbcType=BIGINT },
			</if>
		</set>
		where
			Id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from NS_Bill_BillInfo 
		where
			Id = #{id}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from NS_Bill_BillInfo
		where
			Id in
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	   		${item}
        </foreach>
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id"
		parameterType="com.newsee.bill.entity.NsbillBillInfo">
		insert into NS_Bill_BillInfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				EnterpriseId,
			</if>
			<if test="organizationId != null">
				OrganizationId,
			</if>
			<if test="batchCode != null">
				BatchCode,
			</if>
			<if test="batchName != null">
				BatchName,
			</if>
			<if test="buyDate != null">
				BuyDate,
			</if>
			<if test="fromCompany != null">
				FromCompany,
			</if>
			<if test="billType != null">
				BillType,
			</if>
			<if test="billTypeId != null">
				BillTypeId,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="createUserId != null">
				CreateUserId,
			</if>
			<if test="createUserName != null">
				CreateUserName,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="updateUserId != null">
				UpdateUserId,
			</if>
			<if test="updateUserName != null">
				UpdateUserName,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="isDelete != null">
				IsDelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				#{enterpriseId, jdbcType=BIGINT},
			</if>
			<if test="organizationId != null">
				#{organizationId, jdbcType=BIGINT},
			</if>
			<if test="batchCode != null">
				#{batchCode, jdbcType=VARCHAR},
			</if>
			<if test="batchName != null">
				#{batchName, jdbcType=VARCHAR},
			</if>
			<if test="buyDate != null">
				#{buyDate, jdbcType=TIMESTAMP},
			</if>
			<if test="fromCompany != null">
				#{fromCompany, jdbcType=VARCHAR},
			</if>
			<if test="billType != null">
				#{billType, jdbcType=VARCHAR},
			</if>
			<if test="billTypeId != null">
				#{billTypeId, jdbcType=BIGINT},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="createUserId != null">
				#{createUserId, jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId, jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete, jdbcType=BIGINT},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into NS_Bill_BillInfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			EnterpriseId,
			OrganizationId,
			BatchCode,
			BatchName,
			BuyDate,
			FromCompany,
			BillType,
			BillTypeId,
			Remark,
			CreateUserId,
			CreateUserName,
			CreateTime,
			UpdateUserId,
			UpdateUserName,
			UpdateTime,
			IsDelete,
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.enterpriseId, jdbcType=BIGINT},
			#{item.organizationId, jdbcType=BIGINT},
			#{item.batchCode, jdbcType=VARCHAR},
			#{item.batchName, jdbcType=VARCHAR},
			#{item.buyDate, jdbcType=TIMESTAMP},
			#{item.fromCompany, jdbcType=VARCHAR},
			#{item.billType, jdbcType=VARCHAR},
			#{item.billTypeId, jdbcType=BIGINT},
			#{item.remark, jdbcType=VARCHAR},
			#{item.createUserId, jdbcType=BIGINT},
			#{item.createUserName, jdbcType=VARCHAR},
			#{item.createTime, jdbcType=TIMESTAMP},
			#{item.updateUserId, jdbcType=BIGINT},
			#{item.updateUserName, jdbcType=VARCHAR},
			#{item.updateTime, jdbcType=TIMESTAMP},
			#{item.isDelete, jdbcType=BIGINT},
        )
        </foreach>
	</insert>
	
</mapper>