<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.bill.dao.NspaymentChargePaymentMapper">

	<resultMap id="NspaymentChargePaymentResultMap" type="com.newsee.bill.entity.NspaymentChargePayment">
			<id property="id" column="Id" jdbcType="BIGINT"/>
			<result property="enterpriseId" column="EnterpriseId" jdbcType="BIGINT"/>
			<result property="organizationId" column="OrganizationId" jdbcType="BIGINT"/>
			<result property="precinctId" column="PrecinctID" jdbcType="BIGINT"/>
			<result property="customerId" column="CustomerID" jdbcType="BIGINT"/>
			<result property="houseId" column="HouseID" jdbcType="BIGINT"/>
			<result property="meterId" column="MeterID" jdbcType="BIGINT"/>
			<result property="chargeItemId" column="ChargeItemID" jdbcType="BIGINT"/>
			<result property="chargeId" column="ChargeID" jdbcType="BIGINT"/>
			<result property="chargeDetailId" column="ChargeDetailID" jdbcType="BIGINT"/>
			<result property="isCanceled" column="IsCanceled" jdbcType="BIGINT"/>
			<result property="refPaymentId" column="RefPaymentID" jdbcType="BIGINT"/>
			<result property="billNo" column="BillNo" jdbcType="VARCHAR"/>
			<result property="billCode" column="BillCode" jdbcType="VARCHAR"/>
			<result property="subjectCode" column="SubjectCode" jdbcType="VARCHAR"/>
			<result property="preCharge" column="PreCharge" jdbcType="DECIMAL"/>
			<result property="chargePaid" column="ChargePaid" jdbcType="DECIMAL"/>
			<result property="shouldPaid" column="ShouldPaid" jdbcType="DECIMAL"/>
			<result property="disCount" column="DisCount" jdbcType="DECIMAL"/>
			<result property="delaySum" column="DelaySum" jdbcType="DECIMAL"/>
			<result property="delayDisCount" column="DelayDisCount" jdbcType="DECIMAL"/>
			<result property="delayDate" column="DelayDate" jdbcType="TIMESTAMP"/>
			<result property="operatorDate" column="OperatorDate" jdbcType="TIMESTAMP"/>
			<result property="squareTypeId" column="SquareTypeID" jdbcType="VARCHAR"/>
			<result property="realDoDate" column="RealDoDate" jdbcType="TIMESTAMP"/>
			<result property="isCheck" column="IsCheck" jdbcType="BIGINT"/>
			<result property="checkUserId" column="CheckUserID" jdbcType="BIGINT"/>
			<result property="checkDate" column="CheckDate" jdbcType="TIMESTAMP"/>
			<result property="remark" column="Remark" jdbcType="VARCHAR"/>
			<result property="accountBook" column="AccountBook" jdbcType="BIGINT"/>
			<result property="amount" column="Amount" jdbcType="BIGINT"/>
			<result property="billType" column="BillType" jdbcType="VARCHAR"/>
			<result property="cheque" column="Cheque" jdbcType="VARCHAR"/>
			<result property="closingDay" column="ClosingDay" jdbcType="VARCHAR"/>
			<result property="dayClosingUserId" column="DayClosingUserID" jdbcType="BIGINT"/>
			<result property="discountId" column="DiscountID" jdbcType="BIGINT"/>
			<result property="discountType" column="DiscountType" jdbcType="VARCHAR"/>
			<result property="isDayClosing" column="IsDayClosing" jdbcType="BIGINT"/>
			<result property="isEnterAccount" column="IsEnterAccount" jdbcType="BIGINT"/>
			<result property="enterAccountDate" column="EnterAccountDate" jdbcType="TIMESTAMP"/>
			<result property="enterAccountUserId" column="EnterAccountUserID" jdbcType="BIGINT"/>
			<result property="manualAutoId" column="ManualAutoID" jdbcType="VARCHAR"/>
			<result property="manualCustomerName" column="ManualCustomerName" jdbcType="VARCHAR"/>
			<result property="manualHouseName" column="ManualHouseName" jdbcType="VARCHAR"/>
			<result property="manualSatelliteCardId" column="ManualSatelliteCardID" jdbcType="VARCHAR"/>
			<result property="oldAccountBook" column="OldAccountBook" jdbcType="BIGINT"/>
			<result property="validCharge" column="ValidCharge" jdbcType="DECIMAL"/>
			<result property="voucherBatchId" column="VoucherBatchID" jdbcType="BIGINT"/>
			<result property="delayDetailId" column="DelayDetailID" jdbcType="BIGINT"/>
			<result property="createUserId" column="CreateUserId" jdbcType="BIGINT"/>
			<result property="createUserName" column="CreateUserName" jdbcType="VARCHAR"/>
			<result property="createTime" column="CreateTime" jdbcType="TIMESTAMP"/>
			<result property="updateUserId" column="UpdateUserId" jdbcType="BIGINT"/>
			<result property="updateUserName" column="UpdateUserName" jdbcType="VARCHAR"/>
			<result property="updateTime" column="UpdateTime" jdbcType="TIMESTAMP"/>
			<result property="isDelete" column="IsDelete" jdbcType="INTEGER"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="NspaymentChargePayment_Column_List">
		Id,EnterpriseId,OrganizationId,PrecinctID,CustomerID,HouseID,MeterID,ChargeItemID,ChargeID,ChargeDetailID,IsCanceled,RefPaymentID,BillNo,BillCode,SubjectCode,PreCharge,ChargePaid,ShouldPaid,DisCount,DelaySum,DelayDisCount,DelayDate,OperatorDate,SquareTypeID,RealDoDate,IsCheck,CheckUserID,CheckDate,Remark,AccountBook,Amount,BillType,Cheque,ClosingDay,DayClosingUserID,DiscountID,DiscountType,IsDayClosing,IsEnterAccount,EnterAccountDate,EnterAccountUserID,ManualAutoID,ManualCustomerName,ManualHouseName,ManualSatelliteCardID,OldAccountBook,ValidCharge,VoucherBatchID,DelayDetailID,CreateUserId,CreateUserName,CreateTime,UpdateUserId,UpdateUserName,UpdateTime,IsDelete
	</sql>
	
	<select id="listPage" parameterType="com.newsee.common.vo.SearchVo" resultMap="NspaymentChargePaymentResultMap">
	    select 
	        <include refid="NspaymentChargePayment_Column_List" />
	    from 
	       NS_Payment_ChargePayment
	    <where>
	        is_deleted = 0
	        <if test="mainSearch != null and mainSearch != ''">
	            and LOCATE(#{mainSearch,jdbcType=VARCHAR}, user_name)>0 
	        </if>
	        <if test="enterpriseId != null">
	            and enterprise_id = #{enterpriseId,jdbcType=BIGINT}
	        </if>
	        <if test="organizationId != null">
	            and organization_id = #{organizationId,jdbcType=BIGINT}
	        </if>
	        <if test="filterList != null">
	            <foreach collection="filterList" item="item">
	               <choose>
	                   <when test="item.comparison != null and item.comparison == 'NULL'">
	                       and (${item.fieldName} IS NULL or ${item.fieldName} = '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_NULL'">
	                       and (${item.fieldName} IS NOT NULL or ${item.fieldName} != '')
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_LIKE'">
	                       and LOCATE(#{item.fieldValue}, ${item.fieldUnderLineName})=0
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LIKE'">
	                       and LOCATE(#{item.fieldValue}, ${item.fieldName})>0
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_THAN'">
	                       and ${item.fieldName} &gt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_THAN'">
	                       and ${item.fieldName} &lt; #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'EQUAL'">
	                       and ${item.fieldName} = #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'NOT_EQUAL'">
	                       and ${item.fieldName} != #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'GREATER_EQUAL_THAN'">
	                       and ${item.fieldName} &gt;= #{item.fieldValue}
	                   </when>
	                   <when test="item.comparison != null and item.comparison == 'LESS_EQUAL_THAN'">
	                       and ${item.fieldName} &lt;= #{item.fieldValue}
	                   </when>
	               </choose>
	            </foreach>
	        </if>
	
	        <if test="orderFieldUnderLineName != null and orderFieldUnderLineName != ''">
	           order by ${fieldName}
	           <if test="orderBy != null and orderBy != ''">
	              ${orderBy}
	           </if>
	        </if>
	    </where>
	  </select>
	
	<select id="selectById" parameterType="java.lang.Long" resultMap="NspaymentChargePaymentResultMap">
		select
			<include refid="NspaymentChargePayment_Column_List" />
		from
			NS_Payment_ChargePayment
		where
			Id = #{id}
	</select>
	
	<update id="updateById" parameterType="com.newsee.bill.entity.NspaymentChargePayment">
		update NS_Payment_ChargePayment
		<set>
			<if test="enterpriseId != null">
			  EnterpriseId = #{enterpriseId, jdbcType=BIGINT },
			</if>
			<if test="organizationId != null">
			  OrganizationId = #{organizationId, jdbcType=BIGINT },
			</if>
			<if test="precinctId != null">
			  PrecinctID = #{precinctId, jdbcType=BIGINT },
			</if>
			<if test="customerId != null">
			  CustomerID = #{customerId, jdbcType=BIGINT },
			</if>
			<if test="houseId != null">
			  HouseID = #{houseId, jdbcType=BIGINT },
			</if>
			<if test="meterId != null">
			  MeterID = #{meterId, jdbcType=BIGINT },
			</if>
			<if test="chargeItemId != null">
			  ChargeItemID = #{chargeItemId, jdbcType=BIGINT },
			</if>
			<if test="chargeId != null">
			  ChargeID = #{chargeId, jdbcType=BIGINT },
			</if>
			<if test="chargeDetailId != null">
			  ChargeDetailID = #{chargeDetailId, jdbcType=BIGINT },
			</if>
			<if test="isCanceled != null">
			  IsCanceled = #{isCanceled, jdbcType=BIGINT },
			</if>
			<if test="refPaymentId != null">
			  RefPaymentID = #{refPaymentId, jdbcType=BIGINT },
			</if>
			<if test="billNo != null">
			  BillNo = #{billNo, jdbcType=VARCHAR },
			</if>
			<if test="billCode != null">
			  BillCode = #{billCode, jdbcType=VARCHAR },
			</if>
			<if test="subjectCode != null">
			  SubjectCode = #{subjectCode, jdbcType=VARCHAR },
			</if>
			<if test="preCharge != null">
			  PreCharge = #{preCharge, jdbcType=DECIMAL },
			</if>
			<if test="chargePaid != null">
			  ChargePaid = #{chargePaid, jdbcType=DECIMAL },
			</if>
			<if test="shouldPaid != null">
			  ShouldPaid = #{shouldPaid, jdbcType=DECIMAL },
			</if>
			<if test="disCount != null">
			  DisCount = #{disCount, jdbcType=DECIMAL },
			</if>
			<if test="delaySum != null">
			  DelaySum = #{delaySum, jdbcType=DECIMAL },
			</if>
			<if test="delayDisCount != null">
			  DelayDisCount = #{delayDisCount, jdbcType=DECIMAL },
			</if>
			<if test="delayDate != null">
			  DelayDate = #{delayDate, jdbcType=TIMESTAMP },
			</if>
			<if test="operatorDate != null">
			  OperatorDate = #{operatorDate, jdbcType=TIMESTAMP },
			</if>
			<if test="squareTypeId != null">
			  SquareTypeID = #{squareTypeId, jdbcType=VARCHAR },
			</if>
			<if test="realDoDate != null">
			  RealDoDate = #{realDoDate, jdbcType=TIMESTAMP },
			</if>
			<if test="isCheck != null">
			  IsCheck = #{isCheck, jdbcType=BIGINT },
			</if>
			<if test="checkUserId != null">
			  CheckUserID = #{checkUserId, jdbcType=BIGINT },
			</if>
			<if test="checkDate != null">
			  CheckDate = #{checkDate, jdbcType=TIMESTAMP },
			</if>
			<if test="remark != null">
			  Remark = #{remark, jdbcType=VARCHAR },
			</if>
			<if test="accountBook != null">
			  AccountBook = #{accountBook, jdbcType=BIGINT },
			</if>
			<if test="amount != null">
			  Amount = #{amount, jdbcType=BIGINT },
			</if>
			<if test="billType != null">
			  BillType = #{billType, jdbcType=VARCHAR },
			</if>
			<if test="cheque != null">
			  Cheque = #{cheque, jdbcType=VARCHAR },
			</if>
			<if test="closingDay != null">
			  ClosingDay = #{closingDay, jdbcType=VARCHAR },
			</if>
			<if test="dayClosingUserId != null">
			  DayClosingUserID = #{dayClosingUserId, jdbcType=BIGINT },
			</if>
			<if test="discountId != null">
			  DiscountID = #{discountId, jdbcType=BIGINT },
			</if>
			<if test="discountType != null">
			  DiscountType = #{discountType, jdbcType=VARCHAR },
			</if>
			<if test="isDayClosing != null">
			  IsDayClosing = #{isDayClosing, jdbcType=BIGINT },
			</if>
			<if test="isEnterAccount != null">
			  IsEnterAccount = #{isEnterAccount, jdbcType=BIGINT },
			</if>
			<if test="enterAccountDate != null">
			  EnterAccountDate = #{enterAccountDate, jdbcType=TIMESTAMP },
			</if>
			<if test="enterAccountUserId != null">
			  EnterAccountUserID = #{enterAccountUserId, jdbcType=BIGINT },
			</if>
			<if test="manualAutoId != null">
			  ManualAutoID = #{manualAutoId, jdbcType=VARCHAR },
			</if>
			<if test="manualCustomerName != null">
			  ManualCustomerName = #{manualCustomerName, jdbcType=VARCHAR },
			</if>
			<if test="manualHouseName != null">
			  ManualHouseName = #{manualHouseName, jdbcType=VARCHAR },
			</if>
			<if test="manualSatelliteCardId != null">
			  ManualSatelliteCardID = #{manualSatelliteCardId, jdbcType=VARCHAR },
			</if>
			<if test="oldAccountBook != null">
			  OldAccountBook = #{oldAccountBook, jdbcType=BIGINT },
			</if>
			<if test="validCharge != null">
			  ValidCharge = #{validCharge, jdbcType=DECIMAL },
			</if>
			<if test="voucherBatchId != null">
			  VoucherBatchID = #{voucherBatchId, jdbcType=BIGINT },
			</if>
			<if test="delayDetailId != null">
			  DelayDetailID = #{delayDetailId, jdbcType=BIGINT },
			</if>
			<if test="createUserId != null">
			  CreateUserId = #{createUserId, jdbcType=BIGINT },
			</if>
			<if test="createUserName != null">
			  CreateUserName = #{createUserName, jdbcType=VARCHAR },
			</if>
			<if test="createTime != null">
			  CreateTime = #{createTime, jdbcType=TIMESTAMP },
			</if>
			<if test="updateUserId != null">
			  UpdateUserId = #{updateUserId, jdbcType=BIGINT },
			</if>
			<if test="updateUserName != null">
			  UpdateUserName = #{updateUserName, jdbcType=VARCHAR },
			</if>
			<if test="updateTime != null">
			  UpdateTime = #{updateTime, jdbcType=TIMESTAMP },
			</if>
			<if test="isDelete != null">
			  IsDelete = #{isDelete, jdbcType=INTEGER },
			</if>
		</set>
		where
			Id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="java.lang.Long">
		delete from NS_Payment_ChargePayment 
		where
			Id = #{id}
	</delete>
	
	<delete id="deleteBatch" parameterType="java.util.List">
		delete from NS_Payment_ChargePayment
		where
			Id in
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
	   		${item}
        </foreach>
	</delete>
	
	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.newsee.bill.entity.NspaymentChargePayment">
		insert into NS_Payment_ChargePayment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				EnterpriseId,
			</if>
			<if test="organizationId != null">
				OrganizationId,
			</if>
			<if test="precinctId != null">
				PrecinctID,
			</if>
			<if test="customerId != null">
				CustomerID,
			</if>
			<if test="houseId != null">
				HouseID,
			</if>
			<if test="meterId != null">
				MeterID,
			</if>
			<if test="chargeItemId != null">
				ChargeItemID,
			</if>
			<if test="chargeId != null">
				ChargeID,
			</if>
			<if test="chargeDetailId != null">
				ChargeDetailID,
			</if>
			<if test="isCanceled != null">
				IsCanceled,
			</if>
			<if test="refPaymentId != null">
				RefPaymentID,
			</if>
			<if test="billNo != null">
				BillNo,
			</if>
			<if test="billCode != null">
				BillCode,
			</if>
			<if test="subjectCode != null">
				SubjectCode,
			</if>
			<if test="preCharge != null">
				PreCharge,
			</if>
			<if test="chargePaid != null">
				ChargePaid,
			</if>
			<if test="shouldPaid != null">
				ShouldPaid,
			</if>
			<if test="disCount != null">
				DisCount,
			</if>
			<if test="delaySum != null">
				DelaySum,
			</if>
			<if test="delayDisCount != null">
				DelayDisCount,
			</if>
			<if test="delayDate != null">
				DelayDate,
			</if>
			<if test="operatorDate != null">
				OperatorDate,
			</if>
			<if test="squareTypeId != null">
				SquareTypeID,
			</if>
			<if test="realDoDate != null">
				RealDoDate,
			</if>
			<if test="isCheck != null">
				IsCheck,
			</if>
			<if test="checkUserId != null">
				CheckUserID,
			</if>
			<if test="checkDate != null">
				CheckDate,
			</if>
			<if test="remark != null">
				Remark,
			</if>
			<if test="accountBook != null">
				AccountBook,
			</if>
			<if test="amount != null">
				Amount,
			</if>
			<if test="billType != null">
				BillType,
			</if>
			<if test="cheque != null">
				Cheque,
			</if>
			<if test="closingDay != null">
				ClosingDay,
			</if>
			<if test="dayClosingUserId != null">
				DayClosingUserID,
			</if>
			<if test="discountId != null">
				DiscountID,
			</if>
			<if test="discountType != null">
				DiscountType,
			</if>
			<if test="isDayClosing != null">
				IsDayClosing,
			</if>
			<if test="isEnterAccount != null">
				IsEnterAccount,
			</if>
			<if test="enterAccountDate != null">
				EnterAccountDate,
			</if>
			<if test="enterAccountUserId != null">
				EnterAccountUserID,
			</if>
			<if test="manualAutoId != null">
				ManualAutoID,
			</if>
			<if test="manualCustomerName != null">
				ManualCustomerName,
			</if>
			<if test="manualHouseName != null">
				ManualHouseName,
			</if>
			<if test="manualSatelliteCardId != null">
				ManualSatelliteCardID,
			</if>
			<if test="oldAccountBook != null">
				OldAccountBook,
			</if>
			<if test="validCharge != null">
				ValidCharge,
			</if>
			<if test="voucherBatchId != null">
				VoucherBatchID,
			</if>
			<if test="delayDetailId != null">
				DelayDetailID,
			</if>
			<if test="createUserId != null">
				CreateUserId,
			</if>
			<if test="createUserName != null">
				CreateUserName,
			</if>
			<if test="createTime != null">
				CreateTime,
			</if>
			<if test="updateUserId != null">
				UpdateUserId,
			</if>
			<if test="updateUserName != null">
				UpdateUserName,
			</if>
			<if test="updateTime != null">
				UpdateTime,
			</if>
			<if test="isDelete != null">
				IsDelete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="enterpriseId != null">
				#{enterpriseId, jdbcType=BIGINT},
			</if>
			<if test="organizationId != null">
				#{organizationId, jdbcType=BIGINT},
			</if>
			<if test="precinctId != null">
				#{precinctId, jdbcType=BIGINT},
			</if>
			<if test="customerId != null">
				#{customerId, jdbcType=BIGINT},
			</if>
			<if test="houseId != null">
				#{houseId, jdbcType=BIGINT},
			</if>
			<if test="meterId != null">
				#{meterId, jdbcType=BIGINT},
			</if>
			<if test="chargeItemId != null">
				#{chargeItemId, jdbcType=BIGINT},
			</if>
			<if test="chargeId != null">
				#{chargeId, jdbcType=BIGINT},
			</if>
			<if test="chargeDetailId != null">
				#{chargeDetailId, jdbcType=BIGINT},
			</if>
			<if test="isCanceled != null">
				#{isCanceled, jdbcType=BIGINT},
			</if>
			<if test="refPaymentId != null">
				#{refPaymentId, jdbcType=BIGINT},
			</if>
			<if test="billNo != null">
				#{billNo, jdbcType=VARCHAR},
			</if>
			<if test="billCode != null">
				#{billCode, jdbcType=VARCHAR},
			</if>
			<if test="subjectCode != null">
				#{subjectCode, jdbcType=VARCHAR},
			</if>
			<if test="preCharge != null">
				#{preCharge, jdbcType=DECIMAL},
			</if>
			<if test="chargePaid != null">
				#{chargePaid, jdbcType=DECIMAL},
			</if>
			<if test="shouldPaid != null">
				#{shouldPaid, jdbcType=DECIMAL},
			</if>
			<if test="disCount != null">
				#{disCount, jdbcType=DECIMAL},
			</if>
			<if test="delaySum != null">
				#{delaySum, jdbcType=DECIMAL},
			</if>
			<if test="delayDisCount != null">
				#{delayDisCount, jdbcType=DECIMAL},
			</if>
			<if test="delayDate != null">
				#{delayDate, jdbcType=TIMESTAMP},
			</if>
			<if test="operatorDate != null">
				#{operatorDate, jdbcType=TIMESTAMP},
			</if>
			<if test="squareTypeId != null">
				#{squareTypeId, jdbcType=VARCHAR},
			</if>
			<if test="realDoDate != null">
				#{realDoDate, jdbcType=TIMESTAMP},
			</if>
			<if test="isCheck != null">
				#{isCheck, jdbcType=BIGINT},
			</if>
			<if test="checkUserId != null">
				#{checkUserId, jdbcType=BIGINT},
			</if>
			<if test="checkDate != null">
				#{checkDate, jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				#{remark, jdbcType=VARCHAR},
			</if>
			<if test="accountBook != null">
				#{accountBook, jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				#{amount, jdbcType=BIGINT},
			</if>
			<if test="billType != null">
				#{billType, jdbcType=VARCHAR},
			</if>
			<if test="cheque != null">
				#{cheque, jdbcType=VARCHAR},
			</if>
			<if test="closingDay != null">
				#{closingDay, jdbcType=VARCHAR},
			</if>
			<if test="dayClosingUserId != null">
				#{dayClosingUserId, jdbcType=BIGINT},
			</if>
			<if test="discountId != null">
				#{discountId, jdbcType=BIGINT},
			</if>
			<if test="discountType != null">
				#{discountType, jdbcType=VARCHAR},
			</if>
			<if test="isDayClosing != null">
				#{isDayClosing, jdbcType=BIGINT},
			</if>
			<if test="isEnterAccount != null">
				#{isEnterAccount, jdbcType=BIGINT},
			</if>
			<if test="enterAccountDate != null">
				#{enterAccountDate, jdbcType=TIMESTAMP},
			</if>
			<if test="enterAccountUserId != null">
				#{enterAccountUserId, jdbcType=BIGINT},
			</if>
			<if test="manualAutoId != null">
				#{manualAutoId, jdbcType=VARCHAR},
			</if>
			<if test="manualCustomerName != null">
				#{manualCustomerName, jdbcType=VARCHAR},
			</if>
			<if test="manualHouseName != null">
				#{manualHouseName, jdbcType=VARCHAR},
			</if>
			<if test="manualSatelliteCardId != null">
				#{manualSatelliteCardId, jdbcType=VARCHAR},
			</if>
			<if test="oldAccountBook != null">
				#{oldAccountBook, jdbcType=BIGINT},
			</if>
			<if test="validCharge != null">
				#{validCharge, jdbcType=DECIMAL},
			</if>
			<if test="voucherBatchId != null">
				#{voucherBatchId, jdbcType=BIGINT},
			</if>
			<if test="delayDetailId != null">
				#{delayDetailId, jdbcType=BIGINT},
			</if>
			<if test="createUserId != null">
				#{createUserId, jdbcType=BIGINT},
			</if>
			<if test="createUserName != null">
				#{createUserName, jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime, jdbcType=TIMESTAMP},
			</if>
			<if test="updateUserId != null">
				#{updateUserId, jdbcType=BIGINT},
			</if>
			<if test="updateUserName != null">
				#{updateUserName, jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime, jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	
	<insert id="insertBatch" parameterType="java.util.List">
		insert into NS_Payment_ChargePayment
		<trim prefix="(" suffix=")" suffixOverrides=",">
			EnterpriseId,
			OrganizationId,
			PrecinctID,
			CustomerID,
			HouseID,
			MeterID,
			ChargeItemID,
			ChargeID,
			ChargeDetailID,
			IsCanceled,
			RefPaymentID,
			BillNo,
			BillCode,
			SubjectCode,
			PreCharge,
			ChargePaid,
			ShouldPaid,
			DisCount,
			DelaySum,
			DelayDisCount,
			DelayDate,
			OperatorDate,
			SquareTypeID,
			RealDoDate,
			IsCheck,
			CheckUserID,
			CheckDate,
			Remark,
			AccountBook,
			Amount,
			BillType,
			Cheque,
			ClosingDay,
			DayClosingUserID,
			DiscountID,
			DiscountType,
			IsDayClosing,
			IsEnterAccount,
			EnterAccountDate,
			EnterAccountUserID,
			ManualAutoID,
			ManualCustomerName,
			ManualHouseName,
			ManualSatelliteCardID,
			OldAccountBook,
			ValidCharge,
			VoucherBatchID,
			DelayDetailID,
			CreateUserId,
			CreateUserName,
			CreateTime,
			UpdateUserId,
			UpdateUserName,
			UpdateTime,
			IsDelete,
		</trim>
		values
		<foreach collection="list" item="item" index="index" separator=",">
		(
			#{item.enterpriseId, jdbcType=BIGINT},
			#{item.organizationId, jdbcType=BIGINT},
			#{item.precinctId, jdbcType=BIGINT},
			#{item.customerId, jdbcType=BIGINT},
			#{item.houseId, jdbcType=BIGINT},
			#{item.meterId, jdbcType=BIGINT},
			#{item.chargeItemId, jdbcType=BIGINT},
			#{item.chargeId, jdbcType=BIGINT},
			#{item.chargeDetailId, jdbcType=BIGINT},
			#{item.isCanceled, jdbcType=BIGINT},
			#{item.refPaymentId, jdbcType=BIGINT},
			#{item.billNo, jdbcType=VARCHAR},
			#{item.billCode, jdbcType=VARCHAR},
			#{item.subjectCode, jdbcType=VARCHAR},
			#{item.preCharge, jdbcType=DECIMAL},
			#{item.chargePaid, jdbcType=DECIMAL},
			#{item.shouldPaid, jdbcType=DECIMAL},
			#{item.disCount, jdbcType=DECIMAL},
			#{item.delaySum, jdbcType=DECIMAL},
			#{item.delayDisCount, jdbcType=DECIMAL},
			#{item.delayDate, jdbcType=TIMESTAMP},
			#{item.operatorDate, jdbcType=TIMESTAMP},
			#{item.squareTypeId, jdbcType=VARCHAR},
			#{item.realDoDate, jdbcType=TIMESTAMP},
			#{item.isCheck, jdbcType=BIGINT},
			#{item.checkUserId, jdbcType=BIGINT},
			#{item.checkDate, jdbcType=TIMESTAMP},
			#{item.remark, jdbcType=VARCHAR},
			#{item.accountBook, jdbcType=BIGINT},
			#{item.amount, jdbcType=BIGINT},
			#{item.billType, jdbcType=VARCHAR},
			#{item.cheque, jdbcType=VARCHAR},
			#{item.closingDay, jdbcType=VARCHAR},
			#{item.dayClosingUserId, jdbcType=BIGINT},
			#{item.discountId, jdbcType=BIGINT},
			#{item.discountType, jdbcType=VARCHAR},
			#{item.isDayClosing, jdbcType=BIGINT},
			#{item.isEnterAccount, jdbcType=BIGINT},
			#{item.enterAccountDate, jdbcType=TIMESTAMP},
			#{item.enterAccountUserId, jdbcType=BIGINT},
			#{item.manualAutoId, jdbcType=VARCHAR},
			#{item.manualCustomerName, jdbcType=VARCHAR},
			#{item.manualHouseName, jdbcType=VARCHAR},
			#{item.manualSatelliteCardId, jdbcType=VARCHAR},
			#{item.oldAccountBook, jdbcType=BIGINT},
			#{item.validCharge, jdbcType=DECIMAL},
			#{item.voucherBatchId, jdbcType=BIGINT},
			#{item.delayDetailId, jdbcType=BIGINT},
			#{item.createUserId, jdbcType=BIGINT},
			#{item.createUserName, jdbcType=VARCHAR},
			#{item.createTime, jdbcType=TIMESTAMP},
			#{item.updateUserId, jdbcType=BIGINT},
			#{item.updateUserName, jdbcType=VARCHAR},
			#{item.updateTime, jdbcType=TIMESTAMP},
			#{item.isDelete, jdbcType=INTEGER},
        )
        </foreach>
	</insert>
	
</mapper>