<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newsee.oauth.dao.AppClientMapper" >
  <resultMap id="AppClientResultMap" type="com.newsee.oauth.entity.AppClient" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="app_id" property="appId" jdbcType="VARCHAR" />
    <result column="app_client_type" property="appClientType" jdbcType="VARCHAR" />
    <result column="app_secret" property="appSecret" jdbcType="VARCHAR" />
    <result column="client_status" property="clientStatus" jdbcType="TINYINT" />
    <result column="time_millis" property="timeMillis" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="AppClient_Column_List" >
    id, app_id, app_client_type, app_secret, client_status, time_millis
  </sql>
  
  <select id="selectById" resultMap="AppClientResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="AppClient_Column_List" />
    from app_client
    where id = #{id}
  </select>
  
  <delete id="deleteById" parameterType="java.lang.Long" >
    delete from app_client
    where id = #{id}
  </delete>
  
  <insert id="insert" parameterType="com.newsee.oauth.entity.AppClient" >
    insert into app_client
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="appId != null" >
        app_id,
      </if>
      <if test="appClientType != null" >
        app_client_type,
      </if>
      <if test="appSecret != null" >
        app_secret,
      </if>
      <if test="clientStatus != null" >
        client_status,
      </if>
      <if test="timeMillis != null" >
        time_millis,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="appId != null" >
        #{appId},
      </if>
      <if test="appClientType != null" >
        #{appClientType},
      </if>
      <if test="clientStatus != null" >
        #{clientStatus},
      </if>
      <if test="timeMillis != null" >
        #{timeMillis},
      </if>
    </trim>
  </insert>
  
  <update id="updateById" parameterType="com.newsee.oauth.entity.AppClient" >
    update app_client
    <set >
      <if test="appId != null" >
        app_id = #{appId},
      </if>
      <if test="appClientType != null" >
        app_client_type = #{appClientType},
      </if>
      <if test="appSecret != null" >
        app_secret = #{appSecret},
      </if>
      <if test="clientStatus != null" >
        client_status = #{clientStatus},
      </if>
      <if test="timeMillis != null" >
        time_millis = #{timeMillis},
      </if>
    </set>
    where id = #{id}
  </update>

  <select id="selectAll" resultMap="AppClientResultMap">
    select
    <include refid="AppClient_Column_List" />
    from app_client
    where client_status = 1
  </select>
</mapper>